.bootbox-close-button{
	position: absolute;
    right: 9px;
    top: 0;
    font-size: 40px;
}

.text-quotamodal{
    font-size: 45px;
    color: #1b8acc;
    font-weight: 700;
}

.nav-link.active{
	color: #1d84c3 !important;
}

.text-procces{
	color: #2b97d6;
    font-weight: 800;
    font-size: 20px;
}
.slidePrevLibranza{
	position: absolute;
    right: 0;
    top: 43%;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}

.slideNextLibranza{
	position: absolute;
	left: 0;
	top: 43%;
	font-size: 20px;
	z-index: 2;
	cursor: pointer;
}

.cursor{
	cursor: pointer;
}

.sliderPrincipal-containTextRigth{
	color: black;
	position: absolute;
	right: 14%;
	top: 47%;
	text-align: -webkit-center;
}

.linkTermAndCondition{
	color: blue;
	text-decoration: underline;
}

.linkTermAndCondition:hover, .linkTermAndCondition:active, .linkTermAndCondition:visited, .linkTermAndCondition:focus{
	color: blue;
	text-decoration: underline !important;
}

/* Menu */
.imgSombraMenu{
	height: 72px;
	left: 0;
	top: 0;
	position: absolute;
}
.header-containerItemsResponsive{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 2;
}

/* Slider */
.sliderPrincipalLibranza-text{
	font-size: 21px;
	font-weight: 400;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.sliderPrincipalLibranza-text > strong{
	font-weight: 700;
}

.sliderPrincipalLibranza-button{
	background: #1a59a0;
	cursor: pointer;
	border-radius: 40px;
    display: inline-block;
    color: white;
    font-size: 18px;
    padding: 15px 40px;
}

.sliderPrincipalLibranza-button:hover, .sliderPrincipalLibranza-button:active, .sliderPrincipalLibranza-button:visited, .sliderPrincipalLibranza-button:focus{
	color: #fff;
}

/* Credito Libranza */
#creditoLibranza{
	padding-bottom: 90px;
}

.containerCreditoLibranza{
	max-width: 1360px;
	margin: auto;
}

.container-creditoLibranzaCards{
	padding: 30px;
}

.creditoLibranza-contianerTexto{
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    min-height: 260px;
    position: relative;
}

.creditoLibranza-contianerTexto:before{
	content: "";
	border-bottom: 80px solid transparent;
	border-left: 80px solid;
	border-radius: 10px 0 0 0;
	border-right: 80px solid transparent;
	border-top: 80px solid;
	height: 0;
	position: absolute;
	width: 0;
}
.containerText-creditoLibranzaCards{
	padding: 60px 30px 10px 110px;
	min-height: 280px;
}

.creditoLibranza-buttonWhatsApp{
	border-radius: 20px;
	font-weight: 500;
	font-size: 14px;
	padding: 8px 10px 8px 10px;
	background: #3fcf64;
	color: white;
}

.creditoLibranza-buttonWhatsApp:hover, .creditoLibranza-buttonWhatsApp:visited, .creditoLibranza-buttonWhatsApp:focus, .creditoLibranza-buttonWhatsApp:active{
	color: white;
}

.creditoLibranza-buttonWhatsApp > i{
	font-size: 20px;
}
.avance-containerText:before{
	border-left-color: #FFF !important;
	border-top-color: #FFF !important;
	border-bottom: 30px solid transparent !important;
}

/*Slider Avances*/

.oportuyaSliderContentAdvance{
	background-color: rgba(0,0,0,0.2) !important;
	border-radius: 20px !important;
	padding: 30px 19px !important;
}

.oportuyaSliderButtonAdvance p a{
	background-color: #001980 !important;
	box-shadow: 2px 1px 12px 3px rgba(249,224,232,1) !important;
	color:#FFF;
} 

.requirementsListAdvance{
	margin-top: 15px !important;
	padding-right: 30px !important;
}

.descriptionRequirementsAdvance{
	margin-top: 15px !important;
	padding:0 30px !important;
}

.descriptionRequirementsAdvance{
	min-height: 260px;
}

.cardTextAdvance{
	min-height: unset;
}

.cupoAvance{
	padding: 0 !important;
}
.avanceCredibilidad{
	padding-top: 0px !important;
}

.travelOffersButtonAdvance p a{
	color: #FFF !important;
}




.creditoLibranza-electrodomesticos:before{
	border-left-color: #348dc7;
	border-top-color: #348dc7;
}

.creditoLibranza-motos:before{
	border-left-color: #ec2d35;
	border-top-color: #ec2d35;
}

.creditoLibranza-viajes:before{
	border-left-color: #3fcf64;
	border-top-color: #3fcf64;
}

.creditoLibranza-libreInversion:before{
	border-left-color: #fdbf3c;
	border-top-color: #fdbf3c;
}

.creditoLibranza-title, .credibilidad-title{
	color: #001980;
	font-size: 20px;
	font-weight: 300;
	margin: 60px 0;
	position: relative;
}

.creditoLibranza-title > strong, .credibilidad-title > strong{
	font-weight: 700;
}

.creditoLibranza-title:before{
	background: #001980;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 42%;
	position: absolute;
	width: 15%;
}

.creditoLibranza-img{
	left: 15px;
	position: absolute;
	top: 20px;
	width: 70px;
}

.creditoLibranza-titleText{
	color: #001980;
	font-size: 18px;
	font-weight: 600;
}

.creditoLibranza-text{
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.creoToServicios-img{
	position: absolute;
	bottom: 0;
}

/* Fomulario */
.text-small{
	color: #c4c6c7;
	font-size: 11px;
	font-style: italic;
	font-weight: 400;
}

#formularioSimulador{
	background: url('../images/libranza-formularioSimuladorFondo.jpg');
	padding: 40px 0;
	position: relative;
}

.textModalSimular{
	padding: 0 20px;
	font-size: 13px;
	line-height: 15px;
	font-style : italic;
}

.simularModal-quaotaAvailable{
	font-size: 32px;
	font-weight: 500;
	color: #1357a2;
}

.creditoLibranza-buttonWhatsAppmodal{
	border-radius: 20px;
	font-weight: 500;
	font-size: 18px;
	padding: 10px;
	background: #3fcf64;
	color: white;
	bottom: 20px;
}

.creditoLibranza-buttonWhatsAppmodal:hover, .creditoLibranza-buttonWhatsAppmodal:active, .creditoLibranza-buttonWhatsAppmodal:visited, .creditoLibranza-buttonWhatsAppmodal:focus{
	color: white;
}

.creditoLibranza-buttonWhatsAppmodal > i{
	font-size: 22px;
}

.formularioSimulador-closeModal{
	color: #ada9a9;;
	font-size: 22px;
	position: absolute;
	right: 7px;
	top: 5px;
	z-index: 2;
}

.containerFormulario{
	background: #fff;
	border-radius: 0 0 15px 15px;
	padding: 15px 20px;
}

.formularioSimulador-containInput{
	margin-bottom: 5px;
}

.formularioSimulador-containInput > input, .formularioSimulador-containInput > select{
	height: 35px !important;
}

.formularioSimulador-containerFormulario{
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	position: absolute;
    min-width: 550px;
    max-width: 550px;
	right: 14%;
	top: -18%;
}

.formularioSimulador-container{
	max-width: 1200px;
	margin: auto;
}


.formularioSimulador-titleForm{
	background: url(../images/libranza-formularioEncabezado.png) no-repeat center center;
	color: #fff;
	border-radius: 15px 15px 0 0;
	margin: 0;
	padding: 20px 30px;
	position: relative;
}

.formularioSimulador-inputCupoDisponible{
	font-weight: 700;
	font-size: 20px;
}

.formularioSimulador-imgPesos{
	position: absolute;
	right:  10px;
	top: 10px;
}

.formularioSimulador-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: 300;
	position: relative;
}

.formularioSimulador-title > strong{
	font-weight: 700;
}

.formularioSimulador-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 39%;
	position: absolute;
	width: 22%;
}

.formularioSimulador-textPrincipal{
	margin: 30px 0 0 0;
	line-height: 20px;
	font-size: 15px;
}

.formularioSimulador-labelFormulario{
	font-size: 14px;
	font-weight: 700;
}

.formularioSimulador-buttonForm{
	background: #1a59a0;
	border-radius: 30px;
	color: #fff;
    font-size: 18px;
	padding: 5px 60px;
}

.formularioSimulador-textInferior{
	font-size: 14px;
}

/* Credibilidad */

#credibilidad{
	padding: 50px 0;
}

.credibilidad-text{
	color: #001980;
	font-weight: bold;
}

.credibilidad-title:before{
	background: #001980;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 42%;
	position: absolute;
	width: 15%;
}

/* Modal Simular */
.simularModal-modalBody{
	padding: 0 0 20px 0;
}
.simularModal-thead{
	background: #1a59a0;
	color: #fff;
}


/* ThakYouPage */

.textThankYou{
	font-size: 30px;
	padding: 100px;
}


/* Formulario Modal */

.modalFormulario > .modal-dialog{
	max-width: 816px;
	min-height: 551px;
}

.modalFormulario-body{
	background: url(../images/formulario-fondo.png) no-repeat bottom left;
	border: 1px solid #f5f4fe;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	max-width: 816px;
    min-height: 650px;
	padding: 0;
	position: relative;
}

.modal-containerFormulario{
	min-width: 530px;
	right: 0;
	position: absolute;
}

.modal-titleForm{
	color: #fff;
    padding: 20px 0px 20px 30px;
    font-size: 22px;
    margin-left: 20px;
    position: relative;
}

.modal-titleForm:before{
	content: "";
	height: 66px;
	position: absolute;
	top: 0;
	left: -14px;
	transform: skew(384deg);
	width: 37px;
	z-index: 2;
}

.titleForm-libranza, .titleForm-libranza:before{
	background: #FDBF3D;
}

.header-item5{
	display: none;
}

.titleForm-avances, .titleForm-avances:before{
	background: #FDBF3D;
}

.titleForm-oportuya, .titleForm-oportuya:before{
	background: #1d84c3;
}

.titleForm-motos, .titleForm-motos:before{
	background: #ec2d35;
}

.titleForm-seguros, .titleForm-seguros:before{
	background: #2aace0;
}

.titleForm-viajes, .titleForm-viajes:before{
	background: #3fcf64;
}

.modal-containerFormulario > form {
	padding: 0 40px;
}

.buttonFormModal{
	border-radius: 20px;
	padding: 5px 40px;
	margin-top: 10px;
	margin-left: 15px;
}

.modalLabelForm{
	font-weight: 700;
}

.textCityForm{
	color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}

/* Construccion */
#construccion{
	padding: 0 0 40px 0;
}



/* Admin */
#searchIcon{
	cursor: pointer;
}

.contianerCommentLead{
	border-bottom: 1px solid #eee;
}

.iconoUserLead{
	color: #b7b8b9;
	font-size: 30px;
}

.nameAdminLead{
	color: #717171;
	font-size: 23px;
}

.commentUserLead{
	padding: 10px 0;
	margin: 0;
}

.fechaUserLead{
	color: #b7b8b9;
	font-size: 13px;
}

.containerCommentsLeads{
	border-top: 1px solid #eee;
	padding: 10px 0;
}

.labelViewLead{
	margin: 0;
	display: block;
}

.textViewLead{
	font-weight: 700;
}

/* Internas Menu Items */
#aboutUs, #ethicsCode, #peronalInformation, #termsAndConditions, #ourStores{
	padding: 20px 0;
}

.menuItem-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 40px;
	position: relative;
}

.menuItem-title:after {
    background: #348dc7;
    border-radius: 70px;
    bottom: -6px;
    content: "";
    height: 4px;
    left: 46%;
    position: absolute;
    width: 8%;
    -webkit-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    -moz-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
}

.menuItem-subtitle{
	color: #348dc7;
	font-size: 28px;
}

.menuItem-subTitle2{
	color: #348dc7;
	font-size: 22px;	
}

.menuItem-text{
	font-size: 16px;
	margin-bottom: 30px;
}

.menuItem-text2{
	font-size: 16px;
	margin-bottom: 20px;
	padding-left: 30px;
}

.ethicsCode-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 40px;
	position: relative;
}

.ethicsCode-title:after {
    background: #348dc7;
    border-radius: 70px;
    bottom: -6px;
    content: "";
    height: 4px;
    left: 36%;
    position: absolute;
    width: 28%;
    -webkit-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    -moz-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
}

.ourStores-titleStore{
	color: #1d84c3;
	font-weight: 600;
}

.ourStores-titleStore:hover, .ourStores-titleStore:active, .ourStores-titleStore:visited, .ourStores-titleStore:focus{
	color: #1d84c3;
	text-decoration: none;
	font-weight: 700;
}

/* Steps */
#headerSteps{
	background: #1d84c3;
	padding: 20px;
}


.textRefs{
	color: #167efa;
	font-size: 13px;
	font-style: italic;
}

.titleHeaderSteps{
	color: white;
	font-size: 23px;
}


.form-container-logoHeader{
	background: #167efa;
	padding: 40px;
	position: relative;
}

.form-container-logoHeader:before {
    background: #167efa;
    content: "";
    height: 156px;
    position: absolute;
    top: 0;
    right: -32px;
    transform: skew(338deg);
    width: 64px;
    z-index: 2;
}

.forms-text-analyst{
	color: #167efa;
}

.forms-descStep{
	background: #167efa;
	border-radius: 10px;
	color: white;
	line-height: 1;
	padding: 10px 100px 15px 50px;
	position: relative;
	margin: 40px 0;
}

.forms-descStepNum{
	background: #cccccc;
	border: 3px solid white;
	border-radius: 50%;
	font-weight: 700;
	height: 35px;
	left: -5px;
	padding: 7px 0 0 0;
	position: absolute;
	text-align: -webkit-center;
	top: -7px;
	width: 35px;
}

.forms-descImg{
	position: absolute;
	right: 16px;
	top: 13px;
	width: 40px;
}

.forms-descText{
	font-size: 12px;
}

.forms-descStep > strong{
	font-size: 20px;
	font-weight: 600;
}


/* Barra Progreso */

.progreso {
    margin: 18px auto 35px;
    display: block;
    width: 85%;
    height: 10px;
    background-color: #ccc;
    position: relative;
}

.progreso > .barra_vacia_avances{
    position: absolute;
    height: 6px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    will-change: width;
    transition: width .3s linear;
}

.progreso > .barra_vacia {
    position: absolute;
    height: 6px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #167efa;
    z-index: 2;
    will-change: width;
    transition: width .3s linear;
}

.progreso > .punto_uno, .progreso > .punto_uno + span, .progreso > .punto_uno ~ label {
    left: 0;
}

.progreso > .puntos {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    padding: 0;
    z-index: 1;
}

.progreso > .puntos.listo + span {
	display: flex;
	font-size: 15px;
	font-weight: normal;
	align-items: center;
	justify-content: center;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	height: 25px;
	width: 25px;
	margin: auto;
	border-radius: 50%;
	color: #fff;
	background-color: #0082d3;
}	

.progreso > .punto_dos.punto_dos_avances, .progreso > .punto_dos.punto_dos_avances + span, .progreso > .punto_tres.punto_tres_avances, .progreso > .punto_tres.punto_tres_avances + span {
    left: 33.3333%;
    height: 20px;
    width: 20px;
    background-color: #aaa;
}

.progreso > .punto_dos, .progreso > .punto_dos + span, .progreso > .punto_tres, .progreso > .punto_tres + span {
    left: 33.3333%;
    height: 20px;
    width: 20px;
    background-color: #aaa;
}


.progreso > .puntos ~ label {
    position: absolute;
    transform: translateX(-50%);
    width: auto;
    display: inline-block;
    top: 100%;
    margin-top: 15px;
    font-size: 14px;
}


.progreso > .puntos.listo + span {
    background-color: #167efa;
}

label {
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    color: #999;
}

.progreso > .punto_dos ~ label {
    left: 33.3333%;
}

.progreso > .puntos + span {
    position: absolute;
    display: none;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    z-index: 2;
}

.progreso > .punto_tres, .progreso > .punto_tres + span {
    left: 66.6666%;
}

.progreso > .punto_tres, .progreso > .punto_tres + span {
    left: 66.6666%;
}
.progreso > .punto_tres ~ label {
    left: 66.6666%;
}


.progreso > .puntos.listo + span + label, .progreso > .mono-izquierda, .progreso .punto_cuatro.listo ~ .mono-derecha {
    color: #167efa;
}
.progreso > .punto_cuatro, .progreso > .punto_cuatro + span {
    left: 100%;
}
.progreso > .punto_cuatro + span {
    display: block;
    height: 20px;
    width: 20px;
    background-color: #aaa;
}

.progreso > .punto_cuatro, .progreso > .punto_cuatro + span {
    left: 100%;
}
.progreso > .punto_cuatro ~ label {
    left: 100%;
}

.progreso > .punto_uno.listo + span:after, .progreso > .punto_dos.listo + span:after, .progreso > .punto_tres.listo + span:after, .progreso > .punto_cuatro.listo + span:after{
	font-family: "Font Awesome 5 Free";
	content: "\f058";
}

/* Step 2 */
#step1, #step2, #step3{
	background: #fafafa;
	min-height: 900px;
	padding-bottom: 20px;
}

.btnStep{
	border-radius: 30px;
	padding: 10px 55px;
}

.modalSteps > .modal-dialog{
	max-width: 557px;
	min-height: 650px;
}

.modalStepsBody{
	background: url(../images/fondoModalSteps.png) no-repeat center bottom;
}

.modalCardExist, .modalCardContent{
	min-height: 610px;
}

.buttonBackCardExist{
	border-radius: 30px;
    padding: 7px 35px;
}

.modalStepsContent{
	min-height: 710px;
}

.textModal{
	color: #4a4a4a;
    font-size: 20px;
	margin-top: 16px;
	margin-bottom: 0;
}

.containerFormModal{
	padding-top: 20px;
}

.containerLogoModalStep{
	background: #1b8acc;
	padding: 20px;
}

.step2-containTitle{
	margin: 95px 0 30px;
}
.step2-titleAnalista{
	color: #4a4a4a;
	font-size: 28px;
	font-weight: 200;
	margin:0;
}

.step2-textAnalista{
	color: #4a4a4a;
	font-size: 18px;
	font-weight: 200;
}

.step2-containerForm, .step3-containerForm, .step1-containerForm{
	max-width: 1200px;
	margin: auto;
	position: relative;
}

.conatiner-logoImg{
	border-bottom: 1px solid #b2b2b2;
    padding: 0;
    position: relative;
    min-height: 0 !important;
}

.container-header-forms{
	background: #fafafa;
}

.steps-imgAnalista{
	position: absolute;
    left: 47%;
    bottom: -50px;
}

.inputsSteps{
	border-radius: 8px !important;;
	height: 52px;
}

.inputsSteps::-webkit-input-placeholder, .inputSelect {
	font-size: 15px;
	font-weight: 500;
}

.inputText{
	color: black;
	font-size: 18px;
}

.steps-textStep{
	position: absolute;
	bottom: -30px;
	left: 50px;
	font-size: 13px;
	color: #a2a2a2;
}

.steps-textStep > strong{
	color: #4a4a4a;
}

.imgStartProgress{
	position: absolute;
	left: 0;
	top: -30px;
}

.imgEndProgress{
	position: absolute;
	right: 0;
	top: -30px;
}

/* Footer */
#footerSteps{
	display: none;
	background: #efefef;
	padding: 50px 0;
}

.footerSteps-title{
	color: #ea148c;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 50px;
}

.footerSteps-img{
	position: absolute;
	left: 0;
	top: 0;
}

.footerSteps-text{
	line-height: 20px;
	padding: 17px 0 0 70px;
	font-size: 15px;
	font-weight: 700;
}

.footerSteps-text > span{
	font-weight: 500;
	font-size: 13px;
}

.footerSteps-containerItem{
	margin-bottom: 15px;
}

@media(max-width: 991px){
	.formularioSimulador-textPrincipal{
		padding: 0 30px;
	}
	.formularioSimulador-containerFormulario{
		margin-top: 40px;
	}
}

@media(max-width: 768px){
	.steps-textStep{
		bottom: -50px;
	}
	.form-container-logoHeader{
		margin-bottom: 80px;
	}
	.form-container-logoHeader:before{
		width: 0;
	}
	.imgStartProgress, .imgEndProgress{
		display: none;
	}
}

@media(max-width: 550px){
	.modal-containerFormulario, .formularioSimulador-containerFormulario{
		min-width: 320px;
	}

	.modal-containerFormulario{
		background: rgba(238, 238, 238,.7);
		margin: auto;
		position: relative;
	}

	.progreso > .puntos ~ label{
		font-size: 12px;
	}

	.progreso{
		width: 82%;
	}
}

@media(max-width: 450px){
	.progreso > .puntos ~ label {
	    font-size: 8px;
	}
	.progreso {
	    width: 85%;
	}
}