.cursor{
	cursor: pointer;
}

.sliderPrincipal-containTextRigth{
	color: black;
	position: absolute;
	right: 14%;
	top: 47%;
	text-align: -webkit-center;
}

/* Menu */
.imgSombraMenu{
	left: 0;
	top: 0;
	position: absolute;
}
.header-containerItemsResponsive{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 2;
}

/* Slider */
.sliderPrincipalLibranza-text{
	font-size: 21px;
	font-weight: 400;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.sliderPrincipalLibranza-text > strong{
	font-weight: 700;
}

.sliderPrincipalLibranza-button{
	background: #1a59a0;
	cursor: pointer;
	border-radius: 40px;
    display: inline-block;
    color: white;
    font-size: 18px;
    padding: 15px 40px;
}

.sliderPrincipalLibranza-button:hover, .sliderPrincipalLibranza-button:active, .sliderPrincipalLibranza-button:visited, .sliderPrincipalLibranza-button:focus{
	color: #fff;
}

/* Credito Libranza */
#creditoLibranza{
	padding-bottom: 90px;
}

.containerCreditoLibranza{
	max-width: 1360px;
	margin: auto;
}

.container-creditoLibranzaCards{
	padding: 30px;
}

.creditoLibranza-contianerTexto{
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    min-height: 260px;
    position: relative;
}

.creditoLibranza-contianerTexto:before{
	content: "";
	border-bottom: 80px solid transparent;
	border-left: 80px solid;
	border-radius: 10px 0 0 0;
	border-right: 80px solid transparent;
	border-top: 80px solid;
	height: 0;
	position: absolute;
	width: 0;
}
.containerText-creditoLibranzaCards{
	padding: 60px 30px 10px 130px;
}

.creditoLibranza-electrodomesticos:before{
	border-left-color: #348dc7;
	border-top-color: #348dc7;
}

.creditoLibranza-motos:before{
	border-left-color: #ec2d35;
	border-top-color: #ec2d35;
}

.creditoLibranza-viajes:before{
	border-left-color: #3fcf64;
	border-top-color: #3fcf64;
}

.creditoLibranza-title, .credibilidad-title{
	color: #348dc7;
	font-size: 20px;
	font-weight: 300;
	margin: 60px 0;
	position: relative;
}

.creditoLibranza-title > strong, .credibilidad-title > strong{
	font-weight: 700;
}

.creditoLibranza-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 42%;
	position: absolute;
	width: 15%;
}

.creditoLibranza-img{
	left: 15px;
	position: absolute;
	top: 20px;
	width: 70px;
}

.creditoLibranza-titleText{
	color: #348dc7;
	font-size: 18px;
	font-weight: 600;
}

.creditoLibranza-text{
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.creoToServicios-img{
	position: absolute;
	bottom: 0;
}

/* Fomulario */
.text-small{
	color: #c4c6c7;
	font-size: 11px;
	font-style: italic;
	font-weight: 400;
}

#formularioSimulador{
	background: url('../images/libranza-formularioSimuladorFondo.jpg');
	padding: 80px 0;
	position: relative;
}

.textModalSimular{
	padding: 0 20px;
	font-size: 13px;
	line-height: 15px;
	font-style : italic;
}

.containerFormulario{
	background: #fff;
	border-radius: 0 0 15px 15px;
	padding: 15px 20px;
}

.formularioSimulador-containInput{
	margin-bottom: 5px;
}

.formularioSimulador-containInput > input, .formularioSimulador-containInput > select{
	height: 35px !important;
}

.formularioSimulador-containerFormulario{
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	position: absolute;
    min-width: 550px;
    max-width: 550px;
	right: 14%;
	top: -18%;
}

.formularioSimulador-container{
	max-width: 1200px;
	margin: auto;
}


.formularioSimulador-titleForm{
	background: url(../images/libranza-formularioEncabezado.png) no-repeat center center;
	color: #fff;
	border-radius: 15px 15px 0 0;
	margin: 0;
	padding: 20px 30px;
	position: relative;
}

.formularioSimulador-inputCupoDisponible{
	font-weight: 700;
	font-size: 20px;
}

.formularioSimulador-imgPesos{
	position: absolute;
	right:  10px;
	top: 10px;
}

.formularioSimulador-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: 300;
	position: relative;
}

.formularioSimulador-title > strong{
	font-weight: 700;
}

.formularioSimulador-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 39%;
	position: absolute;
	width: 22%;
}

.formularioSimulador-textPrincipal{
	margin: 30px 0 0 0;
	line-height: 20px;
	font-size: 15px;
}

.formularioSimulador-labelFormulario{
	font-size: 14px;
	font-weight: 700;
}

.formularioSimulador-buttonForm{
	background: #1a59a0;
	border-radius: 30px;
	color: #fff;
    font-size: 18px;
	padding: 5px 60px;
}

.formularioSimulador-textInferior{
	font-size: 14px;
}

/* Credibilidad */

#credibilidad{
	padding: 50px 0;
}

.credibilidad-text{
	color: #348dc7;
	font-weight: bold;
}

.credibilidad-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 42%;
	position: absolute;
	width: 15%;
}

/* Modal Simular */
.simularModal-modalBody{
	padding: 0 0 20px 0;
}
.simularModal-thead{
	background: #1a59a0;
	color: #fff;
}


/* ThakYouPage */

.textThankYou{
	font-size: 30px;
	padding: 100px;
}


/* Formulario Modal */

.modalFormulario > .modal-dialog{
	max-width: 816px;
	min-height: 551px;
}

.modalFormulario-body{
	background: url(../images/formulario-fondo.png) no-repeat bottom left;
	border: 1px solid #f5f4fe;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	max-width: 816px;
    min-height: 600px;
	padding: 0;
	position: relative;
}

.modal-containerFormulario{
	min-width: 450px;
	right: 0;
	position: absolute;
}

.modal-titleForm{
	color: #fff;
    padding: 20px 0px 20px 30px;
    font-size: 22px;
    margin-left: 20px;
    position: relative;
}

.modal-titleForm:before{
	content: "";
	height: 66px;
	position: absolute;
	top: 0;
	left: -14px;
	transform: skew(384deg);
	width: 37px;
	z-index: 2;
}

.titleForm-libranza, .titleForm-libranza:before{
	background: #FDBF3D;
}

.titleForm-oportuya, .titleForm-oportuya:before{
	background: #1d84c3;
}

.titleForm-motos, .titleForm-motos:before{
	background: #ec2d35;
}

.titleForm-seguros, .titleForm-seguros:before{
	background: #2aace0;
}

.titleForm-viajes, .titleForm-viajes:before{
	background: #3fcf64;
}

.modal-containerFormulario > form {
	padding: 0 40px;
}

.buttonFormModal{
	border-radius: 20px;
	padding: 5px 40px;
	margin-top: 10px;
	margin-left: 15px;
}

.modalLabelForm{
	font-weight: 700;
}

.textCityForm{
	color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}

/* Construccion */
#construccion{
	padding: 0 0 40px 0;
}



/* Admin */
.disabled{
	display: none !important;
}
#searchIcon{
	cursor: pointer;
}
.pageList{
	cursor: pointer;
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.labelViewLead{
	margin: 0;
	display: block;
}

.textViewLead{
	font-weight: 700;
}

@media(max-width: 991px){
	.formularioSimulador-textPrincipal{
		padding: 0 30px;
	}
	.formularioSimulador-containerFormulario{
		margin-top: 40px;
	}
}

@media(max-width: 550px){
	.modal-containerFormulario, .formularioSimulador-containerFormulario{
		min-width: 320px;
	}

	.modal-containerFormulario{
		background: rgba(238, 238, 238,.7);
		margin: auto;
		position: relative;
	}
}