span.renewCode:hover {
    font-weight: bold;
    cursor: pointer;
}

.totalLeadsDigital{
	font-size: 25px;
    color: #1d84c3;
	font-weight: bold;
	margin-bottom: 0;
}

.bootbox-close-button{
	position: absolute;
    right: 9px;
    top: 0;
    font-size: 40px;
}

.text-quotamodal{
    font-size: 45px;
    color: #1b8acc;
    font-weight: 700;
}

.nav-link.active{
	color: #1d84c3 !important;
}

.text-procces{
	color: #2b97d6;
    font-weight: 800;
    font-size: 20px;
}
.slidePrevLibranza{
	position: absolute;
    right: 0;
    top: 43%;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}

.slideNextLibranza{
	position: absolute;
	left: 0;
	top: 43%;
	font-size: 20px;
	z-index: 2;
	cursor: pointer;
}

.cursor{
	cursor: pointer;
}

.sliderPrincipal-containTextRigth{
	color: black;
	position: absolute;
	right: 14%;
	top: 47%;
	text-align: -webkit-center;
}

.linkTermAndCondition{
	color: blue;
	text-decoration: underline;
}

.linkTermAndCondition:hover, .linkTermAndCondition:active, .linkTermAndCondition:visited, .linkTermAndCondition:focus{
	color: blue;
	text-decoration: underline !important;
}

/* Menu */
.imgSombraMenu{
	height: 72px;
	left: 0;
	top: 0;
	position: absolute;
}
.header-containerItemsResponsive{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 2;
}

/* Slider */
.sliderPrincipalLibranza-text{
	font-size: 21px;
	font-weight: 400;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.sliderPrincipalLibranza-text > strong{
	font-weight: 700;
}

.sliderPrincipalLibranza-button{
	background: #1a59a0;
	cursor: pointer;
	border-radius: 40px;
    display: inline-block;
    color: white;
    font-size: 18px;
    padding: 15px 40px;
}

.sliderPrincipalLibranza-button:hover, .sliderPrincipalLibranza-button:active, .sliderPrincipalLibranza-button:visited, .sliderPrincipalLibranza-button:focus{
	color: #fff;
}

/* Credito Libranza */
#creditoLibranza{
	padding-bottom: 90px;
}

.containerCreditoLibranza{
	max-width: 1360px;
	margin: auto;
}

.container-creditoLibranzaCards{
	padding: 30px;
}


.creditoLibranza-contianerTexto{
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
    min-height: 260px;
    position: relative;
}

.creditoLibranza-contianerTexto:before{
	content: "";
	border-bottom: 80px solid transparent;
	border-left: 80px solid;
	border-radius: 10px 0 0 0;
	border-right: 80px solid transparent;
	border-top: 80px solid;
	height: 0;
	position: absolute;
	width: 0;
}
.containerText-creditoLibranzaCards{
	padding: 60px 30px 10px 110px;
	min-height: 280px;
}

.adjust-libranzaCard{
	padding: 60px 28px 10px 90px;
}

.adjust-libranzaCard p{
	line-height: 18px;
	margin: 0;
}

.creditoLibranza-buttonWhatsApp{
	border-radius: 20px;
	font-weight: 500;
	font-size: 14px;
	padding: 8px 10px 8px 10px;
	background: #3fcf64;
	color: white;
}

.creditoLibranza-buttonWhatsApp:hover, .creditoLibranza-buttonWhatsApp:visited, .creditoLibranza-buttonWhatsApp:focus, .creditoLibranza-buttonWhatsApp:active{
	color: white;
}

.creditoLibranza-buttonWhatsApp > i{
	font-size: 20px;
}
.avance-containerText:before{
	border-left-color: #FFF !important;
	border-top-color: #FFF !important;
	border-bottom: 30px solid transparent !important;
}

.container-plazos:focus{
	color:#888 !important;
}


.selected-row div p{
	font-weight: 600;
}

.selected-row div p span{
	font-weight: 800 !important;
	color: #1a59a0;
	font-size: 24px;
}

/*Oportuya*/

#oportuyaBanner .max-width-content-19{
		background-color:#2585C0;
		color:#FFF;
		position: relative;
		padding-top:60px;
		margin-top:100px !important; 
}

#oportuyaBanner .max-width-content-19:before{
		position: absolute;
		content: '';
		width: 0;
		border-top:solid #FFF 70px;
		border-left:solid #2585C0 70px;
		right: 0;
		top: 0; 
}

#oportuyaBanner .max-width-content-19:after{
	position: absolute;
	content: '';
	width: 0;
	border-bottom:solid #FFF 70px;
	border-right:solid #2585C0 70px;
	left: 0;
	bottom: 0; 
}
#oportuyaBanner .max-width-content-19 div.row .offset-lg-1{
	margin-bottom: 45px;
}

#oportuyaBanner .max-width-content-19 div.row  p{
	font-size: 18px;
}

#oportuyaBanner .max-width-content-19 div.row  p a{
	color:#FFF;
	background-color: #E72665;
	padding: 5px 30px;
	font-weight: 600;
	font-size:18px;
	border-radius: 20px;
}

#oportuyaBanner .max-width-content-19 div.row  span{
	font-size: 24px;
	font-weight: 500;
}

#oportuyaBanner .max-width-content-19 div.row .col-sm-4{
	position: relative;
} 



#oportuyaBanner .max-width-content-19 div.row img{
	position: absolute;
	bottom: 0;
}

#oportuyaBeneficiosModal .oportuyaModal-body{
	background: #2585C0 no-repeat bottom left;
	border: 1px solid #f5f4fe;
	border-radius: 20px 20px 0 0;
	-webkit-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	max-width: 816px;
    min-height: 650px;
	padding: 0;
	position: relative;
	color:#FFF;
}

#oportuyaBeneficiosModal .modal-content{
	border-radius: 20px;
}
#oportuyaBeneficiosModal .modal-content h4{
	line-height: 0;
	margin-top: 30px;
}

#oportuyaBeneficiosModal .modal-content .row{
	width: 100%;
	margin: 0;
}

.border-top{
	border-top:solid 1px #93C177;
}

.border-bottom{
	border-bottom:solid 1px #93C177;
}

#oportuyaBeneficiosModal .modal-content .border-top{
	font-size: 15px;
	min-height: 80px;
	padding: 20px 0;
}


#oportuyaBeneficiosModal .modal-content .min-height-modal-item{
	min-height: 110px;
}

#oportuyaBeneficiosModal .modal-content .content-pasos-oportuya{
	width: 80%;
	margin: auto;
}

#oportuyaBeneficiosModal .modal-content .content-pasos-oportuya div span{
	font-size: 28px;
	font-weight: 700;
	color:#C8CACD;
}

#oportuyaBeneficiosModal .modal-content .content-pasos-oportuya img{
	width: 80%;
}

#oportuyaBeneficiosModal .modal-content .content-pasos-oportuya .asesor-img-modal img{
	width: 50%;
}

.pasos-oportuya{
	position: relative;
}

.pasos-oportuya img{
	margin-top:50%;
	transform:translateY(-50%);
}

.paso-oportuya-numero{
	padding: 35px 0 0 0;
}

.paso-oportuya-vertica-centrar{
	padding-top: 45px;
}

.padding-top-30{
	padding-top:30px; 
}

.footer-modal-oportuya{
	color: #000;
	line-height: 1;
}

.bg-oportuya-modal-footer{
	background: #FFF;
}

.footer-modal-oportuya .col-md-7{
	height: 50px;
    margin-top: 30px;
}

.footer-modal-oportuya .col-md-5{
	height: 80px;
	position: relative;
}

.footer-modal-oportuya .col-md-5:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top: solid #2585C0 30px;
    border-right: solid #FFF 30px;

}

.footer-modal-oportuya .col-md-5 p{
	padding-left:20px;
	margin-bottom:0;
	margin-top: 10px; 
	text-align: center; 
}

.footer-modal-oportuya .col-md-5 p span{
	font-weight: 700;
}

/*Slider Avances*/

.oportuyaSliderContentAdvance{
	background-color: rgba(0,0,0,0.2) !important;
	border-radius: 20px !important;
	padding: 30px 19px !important;
}

.oportuyaSliderButtonAdvance p a{
	background-color: #001980 !important;
	box-shadow: 2px 1px 12px 3px rgba(249,224,232,1) !important;
	color:#FFF;
} 

.requirementsListAdvance{
	margin-top: 15px !important;
	padding-right: 30px !important;
}

.descriptionRequirementsAdvance{
	margin-top: 15px !important;
	padding:0 30px !important;
}

.descriptionRequirementsAdvance{
	min-height: 260px;
}

.cardTextAdvance{
	min-height: unset;
}

.cupoAvance{
	padding: 0 !important;
}
.avanceCredibilidad{
	padding-top: 0px !important;
}

.travelOffersButtonAdvance p a{
	color: #FFF !important;
}




.creditoLibranza-electrodomesticos:before{
	border-left-color: #348dc7;
	border-top-color: #348dc7;
}

.creditoLibranza-motos:before{
	border-left-color: #ec2d35;
	border-top-color: #ec2d35;
}

.creditoLibranza-viajes:before{
	border-left-color: #3fcf64;
	border-top-color: #3fcf64;
}

.creditoLibranza-libreInversion:before{
	border-left-color: #fdbf3c;
	border-top-color: #fdbf3c;
}

.creditoLibranza-title, .credibilidad-title{
	color: #001980;
	font-size: 20px;
	font-weight: 300;
	margin: 0 0 60px 0;
	position: relative;
}

.creditoLibranza-title > strong, .credibilidad-title > strong{
	font-weight: 700;
}

.creditoLibranza-title:before{
	background: #001980;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 42%;
	position: absolute;
	width: 15%;
}

.creditoLibranza-img{
	left: 15px;
	position: absolute;
	top: 20px;
	width: 70px;
}

.creditoLibranza-titleText{
	color: #001980;
	font-size: 18px;
	font-weight: 600;
}

.creditoLibranza-text{
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.creoToServicios-img{
	position: absolute;
	bottom: 0;
}

/* Fomulario */
.text-small{
	color: #c4c6c7;
	font-size: 11px;
	font-style: italic;
	font-weight: 400;
}

#formularioSimulador{
	background: url('../images/libranza-formularioSimuladorFondo.jpg');
	padding: 40px 0;
	position: relative;
}

.textModalSimular{
	padding: 0 20px;
	font-size: 13px;
	line-height: 15px;
	font-style : italic;
}

.simularModal-quaotaAvailable{
	font-size: 32px;
	font-weight: 500;
	color: #1357a2;
}

.creditoLibranza-buttonWhatsAppmodal{
	border-radius: 20px;
	font-weight: 500;
	font-size: 18px;
	padding: 10px;
	background: #3fcf64;
	color: white;
	bottom: 20px;
}

.creditoLibranza-buttonWhatsAppmodal:hover, .creditoLibranza-buttonWhatsAppmodal:active, .creditoLibranza-buttonWhatsAppmodal:visited, .creditoLibranza-buttonWhatsAppmodal:focus{
	color: white;
}

.creditoLibranza-buttonWhatsAppmodal > i{
	font-size: 22px;
}

.formularioSimulador-closeModal{
	color: #ada9a9;;
	font-size: 22px;
	position: absolute;
	right: 7px;
	top: 5px;
	z-index: 2;
}

.containerFormulario{
	background: #fff;
	border-radius: 0 0 15px 15px;
	padding: 15px 20px;
}

.formularioSimulador-containInput{
	margin-bottom: 5px;
}

.formularioSimulador-containInput > input, .formularioSimulador-containInput > select{
	height: 35px !important;
}

.formularioSimulador-containerFormulario{
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.33);
	position: absolute;
    min-width: 550px;
    max-width: 550px;
	right: 14%;
	top: -18%;
}

.formularioSimulador-container{
	max-width: 1200px;
	margin: auto;
}


.formularioSimulador-titleForm{
	background: url(../images/libranza-formularioEncabezado.png) no-repeat center center;
	color: #fff;
	border-radius: 15px 15px 0 0;
	margin: 0;
	padding: 20px 30px;
	position: relative;
}

.formularioSimulador-inputCupoDisponible{
	font-weight: 700;
	font-size: 20px;
}

.formularioSimulador-imgPesos{
	position: absolute;
	right:  10px;
	top: 10px;
}

.formularioSimulador-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: 300;
	position: relative;
}

.formularioSimulador-title > strong{
	font-weight: 700;
}

.formularioSimulador-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 39%;
	position: absolute;
	width: 22%;
}

.formularioSimulador-textPrincipal{
	margin: 30px 0 0 0;
	line-height: 20px;
	font-size: 15px;
}

.formularioSimulador-labelFormulario{
	font-size: 14px;
	font-weight: 700;
}

.formularioSimulador-buttonForm{
	background: #1a59a0;
	border-radius: 30px;
	color: #fff;
    font-size: 18px;
	padding: 5px 60px;
	font-weight: 600;
}

.formularioSimulador-textInferior{
	font-size: 14px;
}

/* Credibilidad */

#credibilidad{
	margin-top:60px;
	padding: 50px 0;
}

.credibilidad-text{
	color: #001980;
	font-weight: bold;
}

.credibilidad-title:before{
	background: #001980;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 42%;
	position: absolute;
	width: 15%;
}

/* Modal Simular */
.simularModal-modalBody{
	padding: 0 0 20px 0;
}
.simularModal-thead{
	background: #1a59a0;
	color: #fff;
}

#simularModal .modal-content {
	position: absolute;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30vw;
    min-height: 90vh;
}

/* ThakYouPage */

.textThankYou{
	font-size: 30px;
	padding: 100px;
}


/* Formulario Modal */

.modalFormulario > .modal-dialog{
	max-width: 816px;
	min-height: 551px;
}

.modalFormulario-body{
	background: url(../images/successful.png) no-repeat bottom left;
	border: 1px solid #f5f4fe;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 31px -11px rgba(0,0,0,0.75);
	max-width: 816px;
    min-height: 650px;
	padding: 0;
	position: relative;
}

.modal-containerFormulario{
	min-width: 530px;
	right: 0;
	position: absolute;
}

.modal-titleForm{
	color: #fff;
    padding: 20px 0px 20px 30px;
    font-size: 22px;
    margin-left: 20px;
    position: relative;
}

.modal-titleForm:before{
	content: "";
	height: 66px;
	position: absolute;
	top: 0;
	left: -14px;
	transform: skew(384deg);
	width: 37px;
	z-index: 2;
}

.titleForm-libranza, .titleForm-libranza:before{
	background: #FDBF3D;
}

.header-item6{
	display: none;
}



.titleForm-avances, .titleForm-avances:before{
	background: #FDBF3D;
}

.titleForm-oportuya, .titleForm-oportuya:before{
	background: #1d84c3;
}

.titleForm-motos, .titleForm-motos:before{
	background: #ec2d35;
}

.titleForm-seguros, .titleForm-seguros:before{
	background: #2aace0;
}

.titleForm-viajes, .titleForm-viajes:before{
	background: #3fcf64;
}

.modal-containerFormulario > form {
	padding: 0 40px;
}

.buttonFormModal{
	border-radius: 20px;
	padding: 5px 40px;
	margin-top: 10px;
	margin-left: 15px;
}

.modalLabelForm{
	font-weight: 700;
}

.textCityForm{
	color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}

/* Construccion */
#construccion{
	padding: 0 0 40px 0;
}



/* Admin */
#searchIcon{
	cursor: pointer;
}

.contianerCommentLead{
	border-bottom: 1px solid #eee;
}

.iconoUserLead{
	color: #b7b8b9;
	font-size: 30px;
}

.nameAdminLead{
	color: #717171;
	font-size: 23px;
}

.commentUserLead{
	padding: 10px 0;
	margin: 0;
}

.fechaUserLead{
	color: #b7b8b9;
	font-size: 13px;
}

.containerCommentsLeads{
	border-top: 1px solid #eee;
	padding: 10px 0;
}

.labelViewLead{
	margin: 0;
	display: block;
}

.labelViewLeadPagaduria{
	margin: 0;
	display: inline-block;
	font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    color: #999;
}


.textViewLead{
	font-weight: 700;
}

/* Internas Menu Items */
#aboutUs, #ethicsCode, #peronalInformation, #termsAndConditions, #ourStores{
	padding: 20px 0;
}

.menuItem-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 40px;
	position: relative;
}

.menuItem-title:after {
    background: #348dc7;
    border-radius: 70px;
    bottom: -6px;
    content: "";
    height: 4px;
    left: 46%;
    position: absolute;
    width: 8%;
    -webkit-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    -moz-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
}

.menuItem-subtitle{
	color: #348dc7;
	font-size: 28px;
}

.menuItem-subTitle2{
	color: #348dc7;
	font-size: 22px;	
}

.menuItem-text{
	font-size: 16px;
	margin-bottom: 30px;
}

.menuItem-text2{
	font-size: 16px;
	margin-bottom: 20px;
	padding-left: 30px;
}

.ethicsCode-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 40px;
	position: relative;
}

.ethicsCode-title:after {
    background: #348dc7;
    border-radius: 70px;
    bottom: -6px;
    content: "";
    height: 4px;
    left: 36%;
    position: absolute;
    width: 28%;
    -webkit-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    -moz-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
}

.ourStores-titleStore{
	color: #1d84c3;
	font-weight: 600;
}

.ourStores-titleStore:hover, .ourStores-titleStore:active, .ourStores-titleStore:visited, .ourStores-titleStore:focus{
	color: #1d84c3;
	text-decoration: none;
	font-weight: 700;
}

/* Steps */
#headerSteps{
	background: #1d84c3;
	padding: 20px;
}


.textRefs{
	color: #167efa;
	font-size: 13px;
	font-style: italic;
}

.titleHeaderSteps{
	color: white;
	font-size: 23px;
}


.form-container-logoHeader{
	background: #167efa;
	padding: 40px;
	position: relative;
}

.form-container-logoHeader:before {
    background: #167efa;
    content: "";
    height: 156px;
    position: absolute;
    top: 0;
    right: -32px;
    transform: skew(338deg);
    width: 64px;
    z-index: 2;
}


.forms-text-analyst{
	color: #167efa;
}

.forms-descStep{
	background: #167efa;
	border-radius: 10px;
	color: white;
	line-height: 1;
	padding: 10px 100px 15px 50px;
	position: relative;
	margin: 40px 0;
}

.forms-descStepNum{
	background: #cccccc;
	border: 3px solid white;
	border-radius: 50%;
	font-weight: 700;
	height: 35px;
	left: -5px;
	padding: 7px 0 0 0;
	position: absolute;
	text-align: -webkit-center;
	top: -7px;
	width: 35px;
}

.forms-descImg{
	position: absolute;
	right: 16px;
	top: 13px;
	width: 40px;
}

.forms-descText{
	font-size: 12px;
}

.forms-descStep > strong{
	font-size: 20px;
	font-weight: 600;
}


/* Barra Progreso */

.progreso {
    margin: 18px auto 35px;
    display: block;
    width: 85%;
    height: 10px;
    background-color: #ccc;
    position: relative;
}

.progreso > .barra_vacia_avances{
    position: absolute;
    height: 6px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    will-change: width;
    transition: width .3s linear;
}

.progreso > .barra_vacia {
    position: absolute;
    height: 6px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #167efa;
    z-index: 2;
    will-change: width;
    transition: width .3s linear;
}

.progreso > .punto_uno, .progreso > .punto_uno + span, .progreso > .punto_uno ~ label {
    left: 0;
}

.progreso > .puntos {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    padding: 0;
    z-index: 1;
}

.progreso > .puntos.listo + span {
	display: flex;
	font-size: 15px;
	font-weight: normal;
	align-items: center;
	justify-content: center;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	height: 25px;
	width: 25px;
	margin: auto;
	border-radius: 50%;
	color: #fff;
	background-color: #0082d3;
}	

.progreso > .punto_dos.punto_dos_avances, .progreso > .punto_dos.punto_dos_avances + span, .progreso > .punto_tres.punto_tres_avances, .progreso > .punto_tres.punto_tres_avances + span {
    left: 33.3333%;
    height: 20px;
    width: 20px;
    background-color: #aaa;
}

.progreso > .punto_dos, .progreso > .punto_dos + span, .progreso > .punto_tres, .progreso > .punto_tres + span {
    left: 33.3333%;
    height: 20px;
    width: 20px;
    background-color: #aaa;
}


.progreso > .puntos ~ label {
    position: absolute;
    transform: translateX(-50%);
    width: auto;
    display: inline-block;
    top: 100%;
    margin-top: 15px;
    font-size: 14px;
}


.progreso > .puntos.listo + span {
    background-color: #167efa;
}

label {
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    color: #999;
}

.progreso > .punto_dos ~ label {
    left: 33.3333%;
}

.progreso > .puntos + span {
    position: absolute;
    display: none;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    z-index: 2;
}

.progreso > .punto_tres, .progreso > .punto_tres + span {
    left: 66.6666%;
}

.progreso > .punto_tres, .progreso > .punto_tres + span {
    left: 66.6666%;
}
.progreso > .punto_tres ~ label {
    left: 66.6666%;
}


.progreso > .puntos.listo + span + label, .progreso > .mono-izquierda, .progreso .punto_cuatro.listo ~ .mono-derecha {
    color: #167efa;
}
.progreso > .punto_cuatro, .progreso > .punto_cuatro + span {
    left: 100%;
}
.progreso > .punto_cuatro + span {
    display: block;
    height: 20px;
    width: 20px;
    background-color: #aaa;
}

.progreso > .punto_cuatro, .progreso > .punto_cuatro + span {
    left: 100%;
}
.progreso > .punto_cuatro ~ label {
    left: 100%;
}

.progreso > .punto_uno.listo + span:after, .progreso > .punto_dos.listo + span:after, .progreso > .punto_tres.listo + span:after, .progreso > .punto_cuatro.listo + span:after{
	font-family: "Font Awesome 5 Free";
	content: "\f058";
}

/* Step 2 */
#step1, #step2, #step3{
	background: #fafafa;
	min-height: 900px;
	padding-bottom: 20px;
}

.btnStep{
	border-radius: 30px;
	padding: 10px 55px;
}

.modalSteps > .modal-dialog{
	max-width: 557px;
	min-height: 650px;
}

.modalStepsBody{
	background: url(../images/fondoModalSteps.png) no-repeat center bottom;
}

.modalCardExist, .modalCardContent{
	min-height: 610px;
}

.buttonBackCardExist{
	border-radius: 30px;
    padding: 7px 35px;
}

.modalStepsContent{
	min-height: 710px;
}

.textModal{
	color: #4a4a4a;
    font-size: 20px;
	margin-top: 16px;
	margin-bottom: 0;
}

.containerFormModal{
	padding-top: 20px;
}

.containerLogoModalStep{
	background: #1b8acc;
	padding: 20px;
}

.step2-containTitle{
	margin: 95px 0 30px;
}
.step2-titleAnalista{
	color: #4a4a4a;
	font-size: 28px;
	font-weight: 200;
	margin:0;
}

.step2-textAnalista{
	color: #4a4a4a;
	font-size: 18px;
	font-weight: 200;
}

.step2-containerForm, .step3-containerForm, .step1-containerForm{
	max-width: 1200px;
	margin: auto;
	position: relative;
}

.conatiner-logoImg{
	border-bottom: 1px solid #b2b2b2;
    padding: 0;
    position: relative;
    min-height: 0 !important;
}

.container-header-forms{
	background: #fafafa;
}

.steps-imgAnalista{
	position: absolute;
    left: 47%;
    bottom: -50px;
}

.inputsSteps{
	border-radius: 8px !important;;
	height: 52px;
}

.inputsSteps::-webkit-input-placeholder, .inputSelect {
	font-size: 15px;
	font-weight: 500;
}

.inputText{
	color: black;
	font-size: 18px;
}

.steps-textStep{
	position: absolute;
	bottom: -30px;
	left: 50px;
	font-size: 13px;
	color: #a2a2a2;
}

.steps-textStep > strong{
	color: #4a4a4a;
}

.imgStartProgress{
	position: absolute;
	left: 0;
	top: -30px;
}

.imgEndProgress{
	position: absolute;
	right: 0;
	top: -30px;
}

/* Footer */
#footerSteps{
	display: none;
	background: #efefef;
	padding: 50px 0;
}

.footerSteps-title{
	color: #ea148c;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 50px;
}

.footerSteps-img{
	position: absolute;
	left: 0;
	top: 0;
}

.footerSteps-text{
	line-height: 20px;
	padding: 17px 0 0 70px;
	font-size: 15px;
	font-weight: 700;
}

.footerSteps-text > span{
	font-weight: 500;
	font-size: 13px;
}

.footerSteps-containerItem{
	margin-bottom: 15px;
}


/**
**Caso de Uso: WARRANTY MODULE
**Autor: Luis David Giraldo Grajales 
**Email: desarrolladorjunior@lagobo.com
**Fecha: 28/02/2019
**/

.popovers{
	z-index: -1;
	top: 90px;
}

#WarrantyStep21{
	padding: 10px;
}
.titleTerms{
	color: #348dc7;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 40px;
	margin-top: 40px;
	position: relative;
}
.logoHeaderWarranty{
	background: #167efa;
	padding: 40px;
	position: relative;
}

.logoHeaderWarranty:before {
    background: #167efa;
    content: "";
    height: 140px;
    position: absolute;
    top: 0;
    right: -32px;
    transform: skew(338deg);
    width: 64px;
    z-index: 2;
}
.imgAnalista{
	position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.conatiner-imgAnalista{
	border-bottom: 1px solid #969393;
    padding: 0;
    position: relative;
    min-height: 0 !important;
}

.stepBystep{
	color: #4a4a4a;
	margin: 10px 30px;
}
.contentGarantias{
	background-image: url('../images/Warrantysnipe.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 20px; 
}
.warrantyBlack{
	background-color:black;
	color: #b4b0b0;
    font-family: barlow;
    font-weight: bold;
	font-size: 79%;
	padding: 5px 30px
}

.Garantia-containerForm{
	max-width: 1000px;
	padding: 40px;
}

.Garantia-containerForm2{
	max-width: 900px;
	
}
.descriptionStep{
	background: #DE005D;
	border-radius: 10px;
	color: white;
	line-height: 1;
	padding: 10px 100px 15px 50px;
	position: relative;
	margin: 40px 0;
}
.descText{
	font-size: 12px;
}
.descImg{
	position: absolute;
	right: 16px;
	top: 13px;
	width: 40px;
}
.descStepNum{
	background: #908c8c;
	border: 3px solid white;
	border-radius: 50%;
	font-weight: 700;
	height: 35px;
	left: -5px;
	padding: 7px 0 0 0;
	position: absolute;
	text-align: -webkit-center;
	top: -7px;
	width: 35px;
}
.warrantyInputs{
	border-radius: 8px !important;;
	height: 52px;
}

.warrantyInputs::-webkit-input-placeholder, .inputSelect {
	font-size: 15px;
	font-weight: 500;
}
.WarrantyInputText{
	color: black;
	font-size: 18px;
}
.containTitle{
	margin: 50px 0 30px;
}
.titleAnalista{
	color: #4a4a4a;
	font-size: 28px;
	font-weight: 200;
	margin:0;
}
.textAnalista{
	color: #4a4a4a;
	font-size: 18px;
	font-weight: 200;
}
.text-analyst{
	color: #167efa;
}


.warranty-info p{
	color: #9c9c9c;
}
.warrantyLegal {
	font-family: barlow;
    margin-right: 3vw;
    color: #909090;
    font-weight: bold;
}
.warrantyLegal:hover{
    color: #909090;
}
.warrantyBack-xs{
	display: none;
}
.warrantyBack-xs{
	display: none;
}
.warrantyLegal-xs{
	display: none;
}
.warrantyLegal-xs{
	display: none;
}

.warrantyUserBox{
	border: 5px solid #de005d;
    border-radius: 5px;
	padding: 10px;
	min-height: 90px;
	max-width: 286px;
}
.boxForm input[type="radio"]:checked + label{
	background: #de005d;
	color:white;
}
.warrantyTargetHead{
	padding: 6px 0;
    font-size: 20px;
}
.warrantyTargetHead{
	padding: 6px 0;
    font-size: 20px;
}

.logoHeaderTerms{
	background: #167efa;
	padding: 40px;
	position: relative;
}
#WarrantyStep3{
	min-height: 816px;
}

.logoHeaderTerms:before {
    background: #167efa;
    content: "";
    height: 140px;
    position: absolute;
    top: 0;
    right: -32px;
    transform: skew(338deg);
    width: 64px;
    z-index: 2;
}
.TermsHeader{
	border-bottom: 1px solid #1111115c;
}
.isUserCheck{
	padding: 10px 10px !important;
}
.d-i-b{
	display: inline-block;
}
.addPhone{
	color: white;
	border-radius: 50%;	
}
.deletePhone{
	color: white;
	border-radius: 50%;
	margin-bottom: 10px 	
}
.addPhoneContainer{
	padding-bottom: 26px;
	padding-left: 0px;

}

.sendRequest{
	border-radius: 20px;
	padding: 5px 45px;
	background-color: #DE005D;
	border-color: white;
}
.sendRequest:hover{
	background-color: #DE005D;
	border-color: white;
}

.headTableProducts{
	background-color: #DE005D;
}



.dialog{
	max-width: 816px;
}
.successfulText{
	position:absolute;
    width: 60%;
    font-size: 20px;
    font-family: barlow;
    font-weight: bold;
    left: 35%;
    top: 25%;
}
.containerReturn{
	position:absolute;
	margin-left: 65%;
    margin-top: -8%;
}
.returnButton{
	border-radius: 25px;
    padding: 5px 40px;
}
.imageSuccessful{
	position: relative;
}
.NumberCase{
	color: #167efa;
}
.text-greeting{
	color: #167efa;
}
.textGreeting{
	font-size: 18px;
	font-weight: bold;
}


/*Pagaduria*/

.multicomplete-pagaduria .ng-pristine .ng-ms ul,.multicomplete-pagaduria .ng-pristine .ng-ms ul li input{
	width: 100%
}

.multicomplete-pagaduria .ng-pristine .ng-ms ul li{
	width: 100%;
	padding: 0;
}
md-input-container:not(.md-input-invalid) .md-input-focused .md-input{
	color:#000 !important;
}

/*MOTOS*/
.motoSliderContent {
    position: absolute;
    bottom: 10em;
    left: 3em;
}

.motoSliderContent .logoMotosMarca{
	text-align: center;
}

.motoSliderContent .logoMotosMarca img {
	width: 55%;
}

.motoSliderButton{
	position: absolute;
    right: 19%;
    bottom: 12%;
}

.motoSliderButton a{
	background-color: #FE0000;
	border-radius: 20px;
	color: #FFF;
	padding: 10px 60px;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}

.vantajasIconos{
	min-height: 110px;
}

#ventajasAuteco{
	margin-top: 50px;
}

.ventajasLogoAuteco{
	padding-top:23px;
}

.ventajasTexto{
	color:#4891EC;
	font-weight: 700;
}

#motosContact{
	background-image: url('../images/contactslide.jpg');
	background-repeat:no-repeat;
	background-size: 100%; 
	margin-top: 50px !important;
}

#motosContact div.row{
	padding: 25px 0;
}

.textMotosContact{
	width: 75%;
	margin: auto;
}
.textMotosContact h3 span{
	color: #FE0000!important;
}

.textMotosContact h3{
	font-size: 30px;
	font-weight: 900;
	line-height: 0.7;
	font-style: italic;
}

.textMotosContact p{
	background-color: #000;
    color: #888;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0px 0px 0px;
    margin-top: 14px;
    font-style: italic;
}

#ventajasAuteco .row, #motosContact .row{
	width: 100%;
	margin: 0;
}
.motosFormContainer form .form-group{
	margin-bottom: 0;
}

.motosFormContainer form input:not(#termsAndConditions),.checkBoxContainer,.motosFormContainer form select,.motosFormContainer .buttonMotosContainer{
	width: 65%!important;
	height: calc(1.8rem + 2px);
}

.motosContainer div.row div.col-12{
	margin-top:30px;	
}

.motosFormContainer form .form-group label{
	font-weight: 700;
	color:#000;
	margin: 0;
}

.wp-motosButton{
	background-color: #31D16B;
	border-radius: 20px;
	font-size: 14px;
	color: #FFF;
	padding: 10px 20px;
	font-weight: 700;
	text-decoration: none;
}

.wp-motosButton:hover{
	color: #FFF;
}

#motoPrecios{
	margin:50px 0;
}

.slideContainerMotos .containerSlickMiniature img{
	width: 150px!important;
}

.slideContainerMotos .containerSlickMiniature .multiple-items-motos .slick-list.draggable{
	height: 460px!important; 
	padding: 0!important;
}

.motosBrandContainer{
	position: relative;
}

.motosBrandContainer div .absImage{
	position: absolute;
	bottom: 90px;
	width: 80%;
}

.motosBrandContainer div .logoAutecoMarca{
	margin-top: 80px;
}

.motosPrecioContado{
	line-height: 1;
}

.motosPrecioContado .precioContadoTexto,.motosCuotasMensuales p{
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}

.motosPrecioContado span,.motosCuotasMensuales span{
	font-weight: 800;
	color: #FF0000;
	font-size: 36px;
}

.motosCuotaSimulador{
	margin-bottom: 20px;
}

.motosCuotaSimulador a{
	background-color: #355DA4;
	color:#FFF;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 20px;
}

.motosCuotasMensuales span{
	background-color:#EDEEF1; 
	padding: 10px 20px;
	margin-top: 20px;
}

.no-padding{
	padding: 0;
}

.motosComprarBoton{
	background-color: #FF0000;
	color:#FFF;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 30px;
}

.motosComprarBoton:hover{
	color:#FFF;
}

.motosInfoText{
	margin: 0;
	font-size: 14px;
}

.fix-width{
	width: 100%;
	margin: auto;
}

.motosTextDescription{
	padding: 0 7vw;
}

.motosTextDescription h3{
	font-weight: 800;
	position: relative;
}

.motosTextDescription p{
	text-align: justify;
	font-size: 14px;
}

.motosTextDescription h3:after{
	position: absolute;
	height: 4px;
	width: 40%;
	bottom: -5px;
	left: 0;
	content: "";
	background-color:#FF0000; 
}

.motosDescriptionContainer{
	background-color: #F8F9F8;
	padding: 40px 0;
}

.manualBoton{
	width: 70%;
	margin: auto;
}

.manualBoton a p{
	color: #FFF;
	background-color: #ff0000;
	border-radius: 40px;
	text-align: center;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}

.motosPaddingTop{
	padding-top:50px;
}

.nav-link.nav-link-motos{
	padding: 0 0 0 1rem;
	color: #000;
	text-transform: uppercase;
	border-bottom: solid 1px #FF0000;
}

.nav-pills.nav-pills-motos .nav-link.active{
	padding: 0 0 0 1rem;
	background-color: #F8F9F8!important;
	color: #000!important;
	font-weight: 700;
}

.motos-nav-title{
	text-transform: uppercase;
	color: #FFF;
	background-color: #FF0000;
	font-size: 1.5em;
	margin: 0;
	font-weight: 800;
}

.motosEspecificacionesTabla{
	max-width: 991px;
	margin:auto;
	border:solid 1px #FF0000;
}

.motosEspecificacionesTabla .motosNavContent,.motosEspecificacionesTabla .motosNavLinks{
	padding: 0;
}

.motosNavItems{
	padding:0 2rem;
}

.motosNavItems> div{
	border-bottom: solid 1px #FF0000;
	margin:0;
	padding: .5rem 0;
}

.motosNavLinks{
	border-right: solid 1px #FF0000;
}

.motos-nav-title b{
	color:#000;
	font-weight: 900;
}

.motos-nav-title{
	padding: 1rem 2rem;
}

.motosMainTitle h3{
	margin-left: 50%;
	transform: translate(-50%);
	position: relative;
	font-weight: 800;
}

.motosMainTitle h3::after{
	position: absolute;
	content: "";
	height: 4px;
	width: 100%;
	bottom: -10px;
	left: 0;
	background-color: #FF0000;
}



#motoPrecios .row{
	width: 100%;
	margin: 0;
}

.motosFormContainer .checkBoxContainer label{
	font-size: 12px;
	font-style: italic;
}

.max-width-content-12{
	max-width: 1200px;
	margin: auto !important;
	position: relative;
}

.max-width-content-19{
	max-width: 1960px;
	margin: auto!important;
	position: relative;
}

.containImgMotos{
	left: unset!important;
	transform: unset!important;
}

#motosLiquidadorModal div.modal-content{
	background-color:transparent;
	border:none !important;
}

.modalFormulario-body-motos{
	background: url(../images/motos/bg_modal_motos.jpg) no-repeat bottom left;
    max-width: 816px;
    min-height: 650px;
    padding: 0;
	position: relative;
	border-radius: 10px;
}

.modalFormulario-proyecciones-motos{
	background: #FFF;
    max-width: 816px;
    min-height: 650px;
    padding: 0;
	position: relative;
	border-radius: 10px;
}

.modalFormulario-proyecciones-motos div.row{
	width: 100%;
	margin: 0;
}


.backToCuota-btn a{
	margin-left: 50%;
	transform: translate(-50%);
	cursor: pointer;
}

.motosHeaderModal{
	background: url(../images/motos/bg_formulario_liquidador.jpg) no-repeat center center;
	padding: 3% 0 2% 4%;
	color: #FFF;
	border-radius: 10px 10px 0 0;
}

.motosHeaderModal h3{
	font-size: 1.65em;
}

.formularioSimulador-titleForm{
	background: url(../images/libranza-formularioEncabezado.png) no-repeat center center;
	color: #fff;
	border-radius: 15px 15px 0 0;
	margin: 0;
	padding: 20px 30px;
	position: relative;
}


.modalFormulario-proyecciones-motos .table ul li.ng-scope a{
	padding: 5px 10px!important;
	border:solid #D7D4D7 1px;
	background-color: #FFF;
}

.modalFormulario-proyecciones-motos .table ul li.ng-scope a:hover{
	background-color: #4289CA;
	color: #FFF!important;
}

.infoPayment{
	min-width: 530px;
    right: 0;
    position: absolute;
}

.infoPayment div.row{
	width: 100%;
}

.infoPayment div.col-12{
	padding: 20px 3%;
	text-align: center;
}

.infoPaymentContainer{
	padding: 20px 20px;
	border: solid 1px;
}

.infoPaymentFee div h3{
	font-weight: 700;
	font-size: 42px;
	color: red;
}

.formularioSimulador-containInput input[type=range]{
	height: 34px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

.formularioSimulador-containInput input[type=range]::-webkit-slider-runnable-track{
	width: 100%;
	height: 9px;
	cursor: pointer;
	background: #C4E0FA;
	border-radius: 5px;
	border: 0px solid #010101;
}

.formularioSimulador-containInput input[type=range]::-webkit-slider-thumb {
    border: 2px solid #1E589D;
    height: 1.7em;
    width: 1.7em;
    border-radius: 15px;
    background: #3277C2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }

  .initialFeeValue span{
	font-weight: 800;
    font-size: 2.5em;
    color: red;
  }

  .initialFeeValue div{
	  display: table;
  }

  .initialFeeValue span, .initialFeeValue label{
	  vertical-align: middle;
	  margin: 0;
  }

  .motosTimeLimit span{
	  font-weight: 800;
  }

#motosLiquidadorModal label{
	font-weight: 800;
	color: #000;
}

.motosContainerFormulario{
	background: none !important;
}

.btn-credito{
	color: #FFF !important;
}


.btn-viewCuota .formularioSimulador-buttonForm{
	background: #1a59a0;
	border-radius: 30px;
	color: #fff;
    font-size: 18px;
	padding: 8px 30px;
	font-weight: 600;
	cursor: pointer;
}

.headerTableMotos tr td{
	font-weight: 600;
}

.contactFormList{
	text-align: left;
}

.contactFormList li{
		list-style: none;
}

.contactFormList span{
	font-weight: 800;
	color: #000;
	font-size: 13px;
}

.buttonMotosContainer button{
	margin:0;
	background-color: #F8BC04;
	color:#FFF;
	font-weight: 700;
}

#motosLibranza{
	position: relative;
}

.libranzaMotosButton{
	position: absolute;
    bottom: 15%;
    color: #000;
    left: 14%;
    background: #EBCF25;
    padding: 10px 60px;
    border-radius: 20px;
    font-weight: 800;
}
.tituloMotos{
	margin-bottom: 30px;
}

.tituloMotos h2{
	position: relative;
	font-weight: 800;
}

.tituloMotos h2::after{
	position: absolute;
	content: '';
	height: 4px;
	width:250px;;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%);
	background-color: #FD0001;
}

.precio-contado-moto p,.cuotas-moto p{
	margin: 0;
	text-transform: uppercase;
	font-weight: 900;
	color: #000;
}

.precio-contado-moto span,.cuotas-moto span{
	color:#FD0001;
	font-weight: 900;
}

.cuotas-moto{
	background-color:#EDEEF0 ;
}

.precio-contado-moto span{
	font-size: 1.7rem;
}

.cuotas-moto span{
	font-size: 2rem;
}

.button-motos{
	margin-top: 25px;	
}

.button-motos a{
	background-color: #FD0001;
	color:#FFF;
	border-radius: 20px;
	padding: 8px 35px;
	font-size: 15px;
	font-weight: 800;
}

.avanceSliderTitle p{
	font-size: 28px;
    margin: 0;
    text-align: center;
    font-weight: 700;
    text-shadow: #FFF 1px 1px 1px;
}

.avanceSliderContent{
	position: absolute;
    bottom: 3em;
	left: 50%;
	transform:translate(-50%);
}

.avanceSliderButton a{
	background-image:linear-gradient(#1D70B2,#044B89);
	color:#FFF;
	border-radius: 20px;
	padding: 10px 60px;
	font-weight: 700;
	font-size: 18px;
	border: #FFF solid 1px;
}

#requisitos-avances{
	margin:30px 0;
}

#requisitos-avances div.container.text-center h3{
	font-family: 'barlow', sans-serif;
	position: relative;
}

#requisitos-avances div.container.text-center h3::after{
	position:absolute;
	background-color:#1984C8;
	content: '';
	height: 4px;
	width: 10%;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%); 
}

#requisitos-avances div.container.text-center h3 span{
	font-weight: 800;
}

.container-avances-iconos img{
	width: 60%;
	margin-bottom: 18px;
}

.container-avances-iconos span{
	font-weight: 700;
	font-size: 18px;
}

#obtener-avance{
	position: relative;
	margin:70px 0 0 0; 
	text-align: center;
}

#obtener-avance .obtener-avance-texto{
	position: absolute;
    left: 50%;
    bottom: 5em;
    color: #FFF;
    font-size: 30px;
    text-align: center;
    transform: translate(-50%);
	width: 80%;
}

#obtener-avance .obtener-avance-texto p{
	line-height: 0.5;
	font-size: 35px;
}

#obtener-avance .obtener-avance-texto span{
	font-weight: 700;
}

#obtener-avance .obtener-avance-texto a{
	background-color: #31D16B;
	border-radius: 30px;
	color: #FFF;
	padding: 10px 50px;
	border:solid 1px #FFF;	
	font-weight: 600;
}

#credito-online{
	position: relative;
	text-align: center;
}

#credito-online .credito-online-texto{
	position: absolute;
	top: 2em;
	left: 50%;
	transform: translate(-50%);
}

#credito-online .credito-online-texto h3{
	font-family: 'barlow', sans-serif;
	position: relative;
}

#credito-online .credito-online-texto h3:after{
	position:absolute;
	background-color:#1984C8;
	content: '';
	height: 4px;
	width: 10%;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%); 
}

.credito-online-boton{
	position: absolute;
	left: 15em;
	bottom: 10em;
}

.credito-online-boton a{
	background-color: #186DB0;
	color: #FFF;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 50px;
	border-radius: 20px;
}

.containImg{
	left: 50%;
	transform: translate(-50%);
}

#newsletter-avance{
	padding-top: 30px;
	background-color: #E9E9E9;
}

#newsletter-avance div.container div.row div h3{
	font-size: 22px;
	font-weight: 700;
	text-align: right;
}

#newsletter-avance div.container div.row{
	width: 100%;
	margin: 0;
}

.color-black{
	color: #000;
}
.color-white{
	color:white;
}
.color-gray{
	color:gray;
}

.slimWarranty{
	font-weight:600;
}

#apellidos::-webkit-input-placeholder { color: green; text-transform:uppercase; }

.warrantyTh {
    vertical-align:top;
}
.WarrantyStep1Container{
	margin: 40px 0px;
}
.warrantyContainerStep1{
	max-width: 590px;
}

.newsletter-avance-input{
	width: 70%;
}

.newsletter-avance-input div.row div{
	padding: 0;
}
.newsletter-avance-input div.row div input{
	font-weight: 600;
	border-radius: 0;
}

.btn-newsletter-avances{
	background-color: #3760A2;
	color: #FFF;
	border-radius: 0;
}
/**
**Caso de Uso: WARRANTY MODULE
**Autor: Luis David Giraldo Grajales 
**Email: desarrolladorjunior@lagobo.com
**Fecha: 28/02/2019
**/

.modal-headerWarranty, .modal-headerWarranty h5 {
	background-color: #1185FF;
	font-size: 30px;
	padding: 2px;
	border-top-left-radius: 15px;
	border-top-right-radius : 15px;
}
.modal-contentWarranty{
	border-radius: 15px
}
.w-90{
	width:90%;
}

.modal-bodyWarranty{
	background-image: url('../images/peopleWarranty-min.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 454px;
}

.numeroWarranty{
	font-size: 40px;
    width: 90%;
    margin: auto;
}

.Warrantyicons{
	padding-top: 30px !important;
    font-family: barlow;
    font-weight: bold;
    color: #2F87ED;
}
.WarrantyBrandsContainer{
    padding-top:30px;
}
.WarrantyLogosTitle{
    font-family: barlow;
	font-weight: bold;
	border-bottom: solid red 5px;
}
.brandsSlider{
	padding-top:30px;
}
.WarrantyBrandImage{
	height:113px;
}
.warrantyCoverage{
	background-color:#1C84C3;
	padding:30px 0px;
	color:#ffffff;
	font-size: 20px;
	font-weight:bold;
}

.warrantyFeatures{
	padding: 80px 0px;
}

.hereWarranty{
	font-family: fantasy;
    font-size: 33px;
}

.sendWarrantyStep1{
	border-radius: 20px;
	padding: 5px 45px;
	background-color:#DE005D;
	color:#ffffff;
}

@media(max-width: 1701px){
	
	#obtener-avance .obtener-avance-texto p{
		font-size: 28px!important;
	}

	#obtener-avance .obtener-avance-texto a{
		font-size: 22px;
		border-radius: 30px;
	}

}

@media(max-width: 1500px){
	
	#obtener-avance .obtener-avance-texto p{
		font-size: 25px!important;
	}

	#obtener-avance .obtener-avance-texto a{
		font-size: 20px;
		border-radius: 25px;
	}

	#obtener-avance .obtener-avance-texto{
		bottom: 2.5em;
	}

	.motosFormContainer .checkBoxContainer{
		height: 20px;
	}

	.motosFormContainer .checkBoxContainer label{
		font-size: 10px;
		font-style: italic;
	}
	.motosFormContainer form .form-group:not(.checkBoxContainer){
		height: 50px;
	}

	.textMotosContact .contactFormList img{
		width: 15%;
	}
}

@media(max-width: 1200px){

	.motosCuotaSimulador a{
		font-size: 14px;
		padding: 5px 10px;
	}
	
	.motoSliderContent .logoMotosMarca img{
		width: 40%;
	}

	.motoSliderContent{
		bottom: 7em;
	}


	.textMotosContact .contactFormList img{
		width: 10%;
	}

	#motosContact div.row{
		padding: 15px 0;
	}
	
	#motosContact{
		line-height: 1;
	}
	.motosFormContainer form .form-group:not(.checkBoxContainer){
		height: 43px;
	}

	.motosFormContainer p{
		margin-bottom: 0.5rem;
	}

	.motosFormContainer .checkBoxContainer{
		height: 18px;
	}

	.motosFormContainer .checkBoxContainer label{
		font-size: 9px;
		font-style: italic;
	}

	.buttonFormModal{
		padding: 3px 40px;
	}

}


@media(max-width: 991px){


	.libranzaMotosButton{
		font-size: 14px;
		padding: 6px 40px;
	}

	.motosFormContainer form .form-group:not(.checkBoxContainer){
		height: 60px;
	}
	.motosFormContainer .checkBoxContainer label{
		font-size: 13px;
	}

	.motosFormContainer form input:not(#termsAndConditions),.motosFormContainer form select, .motosFormContainer .buttonMotosContainer{
		width: 100%!important;
	}
	.motosFormContainer form .form-group,.motosFormContainer form p{
		width: 60%!important;
		margin: auto;
	}

	#motosContact{
		background: none;
	}

	.bg-responsive{
		background-image: url(../images/contactslide.jpg);
    	background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		padding: 25px 0;
		margin: 25px 0;
	}

	.motoSliderButton a{
		padding: 10px 40px;
		font-size: 14px;
	}

	#newsletter-avance div.container div.row div h3	{
		text-align: center;
	}

	.newsletter-avance-input{
		width: 100%;
	}

	#credito-online .credito-online-texto{
		top: unset!important;
		left: unset!important;
		transform: none!important;
		margin:30px auto !important;
	}

	#credito-online .credito-online-texto,#credito-online .credito-online-boton{
		position: relative;
		text-align: center;
	}
	#credito-online .credito-online-boton{
		left: unset!important;
		transform:none!important;
		bottom: unset!important;
		margin-bottom: 40px;
	}

	#obtener-avance .obtener-avance-texto{
		position: relative;
		bottom: 0!important;
		color:#000;
		right: unset;
		margin:40px 0px; 
		
	}

	#obtener-avance .obtener-avance-texto{
		bottom: 4em;
	}

	.formularioSimulador-textPrincipal{
		padding: 0 30px;
	}
	.formularioSimulador-containerFormulario{
		margin-top: 40px;
	}
	
	.avanceSliderTitle p{
		font-size: 27px;
	}
}

@media(max-width: 768px){

	#oportuyaBeneficiosModal .modal-content .content-pasos-oportuya img{
		width: 30%;
		margin-top:unset;
		transform: unset;
		margin-bottom:30px;  
	}

	#oportuyaBeneficiosModal .modal-content .content-pasos-oportuya .asesor-img-modal img{
		width: 22%!important;
	}

	#oportuyaBanner .max-width-content-19 div.row img{
		position: relative;
	}

	#oportuyaBanner .max-width-content-19:after,#oportuyaBanner .max-width-content-19:before{
		display: none;
	}

	.footer-modal-oportuya .col-md-5:before,.footer-modal-oportuya .col-md-7{
		display: none;
	}

	.footer-modal-oportuya .col-md-5{
		height: 120px;;
	}
	
	/**
	**Caso de Uso: WARRANTY MODULE
	**Autor: Luis David Giraldo Grajales 
	**Email: desarrolladorjunior@lagobo.com
	**Fecha: 28/02/2019
	**/

	.tituloMotos h2{
		padding: 0 30px;
		font-size: 1.5rem;
	}

	#motosLibranza{
		text-align: center;
	}

	#motosLibranza,#motosLibranza img{
		margin-bottom: 25px;
	}

	#motosLibranza .libranzaMotosButton{
		position: relative;
		bottom: unset;
		left: unset;

	}

	.motosFormContainer form .form-group, .motosFormContainer form p{
		width: 90%!important;
	}

	.motoSliderContent{
		bottom: 5em;
		left:3em;
		
	}

	.motoSliderContent .logoMotosMarca img{
		width: 25% !important;
		float: left;
	}

	.motoSliderButton{
		position: relative;
		text-align: center;
		margin-top:10px;
		left: unset;
		bottom: unset;
		right: unset;
	}

	.avanceSliderContent{
		position: relative;
		bottom: 0;
	}
	.warrantyLegal{
		color: #e1e1e1;
	}
	.warrantyLegal:hover{
		color: #e1e1e1;
	}
	.conditions{
		margin-top: -239px;
		z-index: 1;
	}
	.steps-textStep{
		bottom: -50px;
	}
	.stepBystep{
		width: 100%;
		text-align: center;
		margin-top: 55px;
	}
	.form-container-logoHeader{
		margin-bottom: 80px;
	}
	.logoHeaderWarranty{
		padding: 30px;
		margin-bottom: 60px;
		width:100%;
	}
	.form-container-logoHeader:before{
		width: 0;
	}
	.logoHeaderWarranty:before{
		display: none;
	}
	.logoHeaderTerms{
		padding: 30px;
		margin-bottom: 60px;
		width:100%;
	}

	.logoHeaderTerms:before{
		display:none;
	}
	.imgStartProgress, .imgEndProgress{
		display: none;
	}
	.warrantyLegal{
		margin-right: 3vw;
	}
}

@media(max-width: 550px){
<<<<<<< HEAD
	#WarrantyStep3{
		min-height: 1009px;
	}
	
	.Garantia-containerForm{
		padding: 10px;
	}
	.Garantia-containerForm2{
		padding: 10px;
=======

	#oportuyaBeneficiosModal .modal-content h4{
		font-size: 14px;
	}

	.motoSliderContent .logoMotosMarca img{
		width: 15% !important;
	}

	.motosFormContainer form .form-group label{
		font-size: 10px;
>>>>>>> modal
	}

	.modal-containerFormulario, .formularioSimulador-containerFormulario{
		min-width: 320px;
	}

	.modal-containerFormulario{
		background: rgba(238, 238, 238,.7);
		margin: auto;
		position: relative;
	}

	.progreso > .puntos ~ label{
		font-size: 12px;
	}

	.progreso{
		width: 82%;
	}
	/**
	**Caso de Uso: WARRANTY MODULE
	**Autor: Luis David Giraldo Grajales 
	**Email: desarrolladorjunior@lagobo.com
	**Fecha: 14/03/2019
	**/
	.successfulText{
		position: absolute;
		width: 2vw;
		font-size: 3.1vw;
		font-family: barlow;
		font-weight: bold;
		left: 35%;
		top: 20%;
	}
	.containerReturn{
		margin-left: 60%;
		margin-top: -10%;
	}
	.returnButton{
		border-radius: 15px;
    	padding: 3px 30px;
	}
}

@media(max-width: 450px){

<<<<<<< HEAD
	.g-recaptcha {
		transform:scale(0.7);-webkit-transform:scale(0.7);
		transform-origin:0 0;-webkit-transform-origin:0 0;
		}
=======
	.motosFormContainer form .form-group label{
		font-size: 9px;
	}
>>>>>>> modal


	.warrantyLegal{
		display: none;
	}

	.warrantyBack-xs{
		text-align: center;
		display: block;
		font-family: barlow;
		color: #656464;
		font-weight: bold;
	}
	.warrantyBack-xs:hover{
		color: #656464;
	}
	.warrantyLegal-xs{
		text-align: center;
		display: block;
		font-family: barlow;
		color: #656464;
		font-weight: bold;
	}
	.warrantyLegal-xs:hover{
		color: #656464;
	}
	.progreso > .puntos ~ label {
	    font-size: 8px;
	}
	.progreso {
	    width: 85%;
	}
}