.container-card-dashboard {
    margin-left: 3rem
}

.p-reset {
    padding: 1.5rem
}

.titleCardNumberForTotals {
    font-size: 23px
}

.textCardNumberForTotals {
    font-size: 13px
}

.pie-chart {
    height    : 310px;
    min-height: 200px
}

@media (max-width: 990px) {
    .container-reset {
        max-width: 90% !important
    }

    .nameDashboard {
        font-size: 20px
    }

    .wellcomeDashboard {
        font-size: 14px
    }

    .pie-chart {
        height    : 310px;
        min-height: 200px
    }
}

@media (max-width: 720px) {
    .container-reset {
        max-width: 95% !important
    }
}

@media (max-width: 750px) {
    .container-reset {
        max-width: 97% !important
    }

    .bradcrumb-reset {
        font-size: 13px
    }

    .title-table-status {
        font-size: 12px !important
    }

    .title-filter {
        font-size: 22px
    }

    .header-table {
        font-size: 12px
    }

    .body-table {
        font-size: 11px
    }

    .title-table {
        font-size: 16px
    }

    .titleCardNumber {
        font-size: 1.4rem
    }

    .navTabReset {
        font-size: 13px !important
    }

    .btn-sm-reset {
        padding      : .25rem .5rem !important;
        font-size    : .875rem !important;
        line-height  : 1.5 !important;
        border-radius: .2rem !important
    }

    .input-group-sm-reset {
        height: calc(1.8125rem + 2px)
    }

    .container-card-dashboard {
        margin-left: 0 !important
    }
}

@media (max-width: 500px) {
    .nameDashboard {
        font-size: 15px
    }

    .titleCardNumber {
        font-size: 18px
    }

    .textCardNumberForTotals {
        font-size: 11px !important
    }

    .wellcomeDashboard {
        font-size: 12px
    }

    .info-box-reset {
        min-height: 65px !important
    }

    .info-icon-reset {
        width: 58px !important
    }

    .p-reset {
        padding: 1rem !important
    }

    .label-reset {
        font-size: 10px !important
    }

    .input-reset {
        height   : 31px !important;
        font-size: 11px !important
    }

    .form-group-reset {
        margin-bottom: 10px !important
    }

    .hidden-xs {
        font-size: 11px !important
    }

    .lead {
        font-size: 15px !important
    }
}

@media (max-width: 380px) {
    .textCardNumberForTotals {
        font-size: 10px !important
    }

    .header-table {
        font-size: 11px
    }

    .body-table {
        font-size: 10px
    }

}

@media (max-width: 400px) {
    .forms-descStep {
        padding: 5% 23% 7% 13% !important;
    }
}


@media (max-width: 325px) {
    .textCardNumber {
        font-size: 11px !important
    }
}

/* .main-header {
    min-width: 420px !important;
} */

#btn-mas {
    display: none;
}

.container-button-absolute {
    position: fixed;
    bottom  : 20px;
    right   : 20px;
}

.redes .icon-primary,
.icon-mas2 {
    display        : block;
    text-decoration: none;
    background     : #007bff;
    color          : #fff;
    width          : 55px;
    height         : 55px;
    line-height    : 55px;
    text-align     : center;
    border-radius  : 50%;
    box-shadow     : 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition     : all 500ms ease;
}

.redes .icon-primary:hover {
    background: #fff;
    color     : #007bff;
}

.redes .icon-primary {
    margin-bottom: -15px;
    opacity      : 0;
    visibility   : hidden;
    display      : flex;
}


.redes .icon-success,
.icon-mas2 {
    display        : block;
    text-decoration: none;
    background     : #28a745;
    color          : #fff;
    width          : 55px;
    height         : 55px;
    line-height    : 55px;
    text-align     : center;
    border-radius  : 50%;
    box-shadow     : 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition     : all 500ms ease;
}

.redes .icon-success:hover {
    background: #fff;
    color     : #28a745;
}

.redes .icon-success {
    margin-bottom: -15px;
    opacity      : 0;
    visibility   : hidden;
    display      : flex;
}


#btn-mas:checked~.redes a {
    margin-bottom: 10px;
    opacity      : 1;
    visibility   : visible;
}

.icon-mas2 {
    cursor    : pointer;
    background: #0069d9;
    font-size : 23px;
    display   : flex;
}

#btn-mas:checked~.btn-mas .icon-mas2 {
    transform: rotate(137deg);
    font-size: 25px;
}

.button-absolute {
    position: fixed;
    right   : 14px;
    bottom  : 10px;
}



.rotate {
    transition-duration       : .2s, 1s;
    transition-timing-function: linear, ease-in;
}

.rotate:hover {
    transform: rotate(180deg);
}

.modal-backdrop {
    width : 100% !important;
    height: auto !important;
}

.padding-3 {
    padding: 1rem;
}

@media(max-width:440px) {
    .card-body {
        padding: 1.25rem 10px !important;
    }

    .terms {
        display: flex
    }

    .terms input {
        margin-left: 5px;
    }

    body,
    td,
    th {
        font-size: 80% !important;
    }

    .btn,
    input,
    select {
        font-size: 90% !important;
    }

    .padding-3 {
        padding: 0rem;
    }

    .card-body-reset {
        padding-left : 0px !important;
        padding-right: 0px !important;
    }
}

.overlay {
    background: #ffffff;
    display   : block;
    position  : absolute;
    top       : 0;
    right     : 0;
    bottom    : 0;
    left      : 0;
    opacity   : 0.5;
    z-index   : 999999;
    max-height: 100%;
}

.loader-products {
    background       : #ffffff;
    border           : 10px solid #f3f3f3;
    border-radius    : 50%;
    border-top       : 6px solid #007bff;
    border-right     : 6px solid #3094ff;
    border-bottom    : 6px solid #007bff;
    border-left      : 6px solid #3094ff;
    width            : 35px;
    height           : 35px;
    -webkit-animation: spin 2s linear infinite;
    animation        : spin 2s linear infinite;
    position         : absolute;
    margin           : auto;
    top              : 0;
    left             : 0;
    right            : 0;
    bottom           : 0;
}

.text-loader {
    margin     : auto;
    position   : absolute;
    top        : 71px;
    left       : 0;
    right      : 0;
    bottom     : 0;
    width      : 88px;
    text-align : center;
    height     : 10px;
    font-weight: bold;
}

.card .overlay {
    background: rgba(255, 255, 255, .9) !important;
}

.overlay {
    opacity: 0.8 !important;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}