.container-card-dashboard {
    margin-left: 3rem
}

.p-reset {
    padding: 1.5rem
}

.titleCardNumberForTotals {
    font-size: 23px
}

.textCardNumberForTotals {
    font-size: 13px
}

.pie-chart {
    height    : 310px;
    min-height: 200px
}

@media (max-width: 990px) {
    .container-reset {
        max-width: 90% !important
    }

    .nameDashboard {
        font-size: 20px
    }

    .wellcomeDashboard {
        font-size: 14px
    }

    .pie-chart {
        height    : 310px;
        min-height: 200px
    }
}

@media (max-width: 720px) {
    .container-reset {
        max-width: 95% !important
    }
}

@media (max-width: 750px) {
    .container-reset {
        max-width: 97% !important
    }

    .bradcrumb-reset {
        font-size: 13px
    }

    .title-table-status {
        font-size: 12px !important
    }

    .title-filter {
        font-size: 22px
    }

    .header-table {
        font-size: 12px
    }

    .body-table {
        font-size: 11px
    }

    .title-table {
        font-size: 16px
    }

    .titleCardNumber {
        font-size: 1.4rem
    }

    .navTabReset {
        font-size: 13px !important
    }

    .btn-sm-reset {
        padding      : .25rem .5rem !important;
        font-size    : .875rem !important;
        line-height  : 1.5 !important;
        border-radius: .2rem !important
    }

    .input-group-sm-reset {
        height: calc(1.8125rem + 2px)
    }

    .container-card-dashboard {
        margin-left: 0 !important
    }
}

@media (max-width: 500px) {
    .nameDashboard {
        font-size: 15px
    }

    .titleCardNumber {
        font-size: 18px
    }

    .textCardNumberForTotals {
        font-size: 11px !important
    }

    .wellcomeDashboard {
        font-size: 12px
    }

    .info-box-reset {
        min-height: 65px !important
    }

    .info-icon-reset {
        width: 58px !important
    }

    .p-reset {
        padding: 1rem !important
    }

    .label-reset {
        font-size: 10px !important
    }

    .input-reset {
        height   : 31px !important;
        font-size: 11px !important
    }

    .form-group-reset {
        margin-bottom: 10px !important
    }

    .hidden-xs {
        font-size: 11px !important
    }

    .lead {
        font-size: 15px !important
    }
}

@media (max-width: 380px) {
    .textCardNumberForTotals {
        font-size: 10px !important
    }

    .header-table {
        font-size: 11px
    }

    .body-table {
        font-size: 10px
    }
}

@media (max-width: 325px) {
    .textCardNumber {
        font-size: 11px !important
    }
}

.main-header {
    min-width: 420px !important;
}

#btn-mas {
    display: none;
}

.container-button-absolute {
    position: fixed;
    bottom  : 20px;
    right   : 20px;
}

.redes a,
.icon-mas2 {
    display        : block;
    text-decoration: none;
    background     : #007bff;
    color          : #fff;
    width          : 55px;
    height         : 55px;
    line-height    : 55px;
    text-align     : center;
    border-radius  : 50%;
    box-shadow     : 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition     : all 500ms ease;
}

.redes a:hover {
    background: #fff;
    color     : #007bff;
}

.redes a {
    margin-bottom: -15px;
    opacity      : 0;
    visibility   : hidden;
    display      : flex;
}

#btn-mas:checked~.redes a {
    margin-bottom: 10px;
    opacity      : 1;
    visibility   : visible;
}

.icon-mas2 {
    cursor    : pointer;
    background: #0069d9;
    font-size : 23px;
    display   : flex;
}

#btn-mas:checked~.btn-mas .icon-mas2 {
    transform: rotate(137deg);
    font-size: 25px;
}

.button-absolute {
    position: fixed;
    right   : 14px;
    bottom  : 10px;
}