.row-reset {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.col-reset {
    padding: 0 !important
}

.container-first-sector {
    position: relative
}

.margin-card {
    margin-top: -19px
}

.container-custom {
    max-width: 1600px
}

.container-first-sector-text {
    top: 16%;
    left: 56%;
    position: absolute
}

.termAndConditions {
    font-size: 13px;
    font-style: italic;
    color: #494141
}

.title-first-sector {
    font-size: 3.2rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding-bottom: 0
}

.text-first-sector {
    font-size: 26px;
    color: #fff;
    font-weight: 100;
    margin-top: 15px
}

.first-span-first-sector {
    font-weight: 500
}

.second-span-first-sector {
    color: #f4be1d;
    font-weight: 500;
    font-size: 53px
}

.third-span-first-sector {
    font-weight: 500
}

.logo-fist-sector {
    width: 32%;
    position: absolute;
    top: 36%
}

.btn-first-sector {
    background-color: #fdc214;
    border-color: #fdc214;
    font-size: 26px;
    color: #000;
    font-weight: 700;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 12px;
    border-radius: 14px
}

.container-second-sector-text {
    top: 24%;
    left: 75%;
    position: absolute
}

.title-second-sector {
    font-size: 1.8rem;
    color: #8d8b95;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    font-weight: 300
}

.first-span-second-sector {
    color: #f4be1d;
    font-weight: 500;
    font-size: 53px
}

.btn-second-sector {
    background-color: #fdc214;
    border-color: #fdc214;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 8px;
    border-radius: 11px
}

.container-third-sector-text {
    top: 16%;
    left: 26%;
    position: absolute;
    width: 60%
}

.title-third-sector {
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 6%
}

.title-form-third-sector {
    font-size: 18px;
    font-weight: 500;
    color: #545151
}

.input-form-third-sector {
    border-radius: 12px
}

.btn-third-sector {
    background-color: #103a9e;
    border-color: #103a9e;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    padding-right: 34px;
    padding-left: 34px;
    padding-bottom: 8px;
    border-radius: 11px
}

.card-title-four-sector {
    margin-bottom: .75rem;
    text-align: center;
    font-size: 3rem;
    color: #fdc214
}

.img-four-sector {
    position: absolute;
    top: 22%;
    height: 37%;
    left: 9%
}

.card-body-four-sector {
    margin-top: 24%
}

.btn-four-sector {
    background: #fdc214;
    border: #fdc214;
    color: #000;
    font-weight: 700;
    font-size: 21px;
    border-radius: 8px
}

@media (min-width:2400px) {
    .container-first-sector-text {
        top: 28%;
        left: 61%
    }

    .container-second-sector-text {
        top: 26%;
        left: 75%;
        position: absolute
    }

    .container-third-sector-text {
        top: 15% !important;
        width: 62%
    }
}

@media (min-width:2200px) {
    .container-first-sector-text {
        top: 25%;
        left: 59%
    }

    .container-second-sector-text {
        top: 26%;
        left: 75%;
        position: absolute
    }

    .input-form-third-sector {
        height: 49px
    }

    .container-third-sector-text {
        top: 18%;
        width: 62%
    }

    .title-third-sector {
        font-size: 3rem;
        margin-bottom: 9%
    }

    .title-form-third-sector {
        font-size: 21px
    }

    .input-form-third-sector {
        border-radius: 12px
    }

    .btn-third-sector {
        font-size: 25px;
        padding-right: 38px;
        padding-left: 38px;
        padding-bottom: 8px;
        border-radius: 11px;
        margin-top: 6%
    }

    .title-first-sector {
        font-size: 3.3rem !important;
        width: 95% !important
    }

    .logo-fist-sector {
        width: 32%;
        position: absolute;
        top: 31%;
        left: 34%
    }

    .text-first-sector {
        font-size: 37px;
        color: #fff;
        font-weight: 100
    }

    .second-span-first-sector {
        color: #f4be1d;
        font-weight: 500;
        font-size: 62px
    }
}

@media (min-width:1950px) {
    .container-first-sector-text {
        top: 20%
    }

    .title-first-sector {
        font-size: 2.7rem;
        width: 95%
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .text-first-sector {
        margin-top: 7%
    }

    .logo-fist-sector {
        width: 32%;
        position: absolute;
        top: 27%;
        left: 34%
    }

    .container-second-sector-text {
        top: 22%;
        left: 75%;
        position: absolute
    }

    .btn-second-sector {
        padding-right: 33px;
        padding-left: 33px;
        padding-bottom: 12px;
        border-radius: 24px;
        font-size: 1.8rem
    }

    .title-second-sector {
        font-size: 3rem
    }

    .first-span-second-sector {
        font-size: 5rem
    }

    .container-third-sector-text {
        top: 16%;
        width: 62%
    }

    .title-third-sector {
        font-size: 3rem;
        margin-bottom: 9%
    }

    .title-form-third-sector {
        font-size: 21px
    }

    .btn-third-sector {
        font-size: 25px;
        padding-right: 38px;
        padding-left: 38px;
        padding-bottom: 8px;
        border-radius: 11px;
        margin-top: 6%
    }

    .termAndConditions {
        font-size: 14px;
        font-style: italic;
        color: #494141;
        margin-top: 20px;
        margin-bottom: 10px
    }
}

@media (max-width:1490px) {
    .title-first-sector {
        font-size: 2.7rem;
        width: 95%
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .second-span-first-sector {
        font-size: 48px
    }

    .btn-first-sector {
        font-size: 24px;
        color: #000;
        font-weight: 700;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 9px;
        border-radius: 11px
    }

    .btn-second-sector {
        font-size: 16px
    }

    .title-second-sector {
        font-size: 1.7rem
    }

    .first-span-second-sector {
        font-size: 49px
    }

    .title-third-sector {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 5%
    }

    .title-form-third-sector {
        font-size: 16px
    }

    .btn-third-sector {
        font-size: 15px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 7px
    }

    .container-third-sector-text {
        top: 10%;
        left: 22%;
        position: absolute;
        width: 68%
    }
}

@media (max-width:1512px) {
    .img-four-sector {
        top: 20%;
        left: 7%
    }
}

@media (max-width:1345px) {
    .title-first-sector {
        font-size: 2.4rem;
        width: 93%
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .text-first-sector {
        font-size: 24px
    }

    .second-span-first-sector {
        font-size: 45px
    }

    .btn-first-sector {
        font-size: 21px
    }

    .logo-fist-sector {
        top: 32%
    }

    .img-four-sector {
        height: 34%;
        top: 20%
    }

    .container-third-sector-text {
        top: 11%;
        left: 22%;
        position: absolute;
        width: 67%
    }

    .input-form-third-sector {
        border-radius: 12px;
        height: 34px
    }
}

@media (max-width:1282px) {
    .container-third-sector-text {
        top: 10%;
        left: 19%;
        position: absolute;
        width: 71%
    }
}

@media (max-width:1200px) {
    .title-first-sector {
        font-size: 2.3rem;
        width: 93%
    }

    .text-first-sector {
        font-size: 21px
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .second-span-first-sector {
        font-size: 43px
    }

    .btn-first-sector {
        font-size: 18px
    }

    .container-first-sector-text {
        top: 10%
    }

    .btn-second-sector {
        font-size: 14px;
        padding-right: 20px;
        padding-left: 20px
    }

    .title-second-sector {
        font-size: 1.4rem
    }

    .first-span-second-sector {
        font-size: 44px
    }

    .title-third-sector {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 3%
    }

    .title-form-third-sector {
        font-size: 13px
    }

    .btn-third-sector {
        font-size: 13px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 5px
    }

    .container-third-sector-text {
        top: 12%;
        left: 14%;
        position: absolute;
        width: 82%
    }

    .img-four-sector {
        position: absolute;
        top: 22%;
        height: 37%;
        left: 9%
    }
}

@media (max-width:1189px) {
    .img-four-sector {
        top: 27%;
        left: 8%;
        height: 40%
    }
}

@media (max-width:1025px) {
    .container-first-sector-text {
        top: 5%
    }
}

@media (max-width:990px) {
    .container-first-sector-text {
        top: 0;
        left: 0;
        margin-top: 3%;
        position: relative
    }

    .title-first-sector {
        color: #807b7bed;
        font-size: 2rem
    }

    .text-first-sector {
        color: #807b7bed;
        font-size: 21px
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .second-span-first-sector {
        font-size: 35px
    }

    .btn-first-sector {
        font-size: 18px;
        margin-bottom: 2%
    }

    .logo-fist-sector {
        position: relative
    }

    .btn-second-sector {
        font-size: 10px;
        padding-right: 10px;
        padding-left: 10px
    }

    .title-second-sector {
        font-size: 1rem
    }

    .first-span-second-sector {
        font-size: 30px
    }

    .title-third-sector {
        font-size: 3rem;
        margin-bottom: 8%
    }

    .title-form-third-sector {
        font-size: 20px
    }

    .btn-third-sector {
        font-size: 22px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 7px
    }

    .container-third-sector-text {
        top: 20%
    }

    .margin-md {
        margin-top: 4%
    }

    .termAndConditions {
        font-size: 17px;
        font-style: italic;
        margin-bottom: 21px;
        margin-top: 15px
    }
}

@media (max-width:965px) {
    .img-four-sector {
        height: 33%;
        left: 12%
    }
}

@media (max-width:861px) {
    .container-second-sector-text {
        top: 20%;
        left: 75%;
        position: absolute
    }

    .btn-second-sector {
        font-size: 10px;
        padding-right: 10px;
        padding-left: 10px
    }

    .title-second-sector {
        font-size: 1rem
    }

    .first-span-second-sector {
        font-size: 28px
    }

    .img-four-sector {
        height: 31%;
        left: 13%
    }

    .container-third-sector-text {
        top: 14%
    }
}

@media (max-width:775px) {
    .container-first-sector-text {
        top: 0;
        left: 0;
        margin-top: 5%;
        position: relative
    }

    .title-first-sector {
        color: #807b7bed;
        font-size: 2rem
    }

    .text-first-sector {
        color: #807b7bed;
        font-size: 22px;
        margin-top: 3px !important;
        margin-bottom: -16px !important
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .second-span-first-sector {
        font-size: 39px
    }

    .btn-first-sector {
        font-size: 17px
    }

    .container-second-sector-text {
        top: 17%;
        left: 75%;
        position: absolute
    }

    .btn-second-sector {
        font-size: 10px;
        padding-right: 11px;
        padding-left: 10px;
        padding-top: 4px;
        padding-bottom: 4px
    }

    .title-second-sector {
        font-size: 1rem
    }

    .first-span-second-sector {
        font-size: 28px
    }

    .title-third-sector {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 6%
    }

    .title-form-third-sector {
        font-size: 13px
    }

    .btn-third-sector {
        font-size: 13px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 5px
    }

    .container-third-sector-text {
        top: 19%
    }
}

@media (max-width:769px) {
    .container-third-sector-text {
        top: 23%;
        width: 68%
    }

    .btn-third-sector {
        font-size: 18px;
        margin-top: 3%
    }

    .container-third-sector-text {
        top: 12%;
        width: 75%
    }

    .termAndConditions {
        font-size: 14px;
        font-style: italic;
        margin-bottom: 14px;
        margin-top: 15px
    }
}

@media (max-width:765px) {
    .img-four-sector {
        height: 36%;
        left: 7%;
        top: 23%
    }
}

@media (max-width:660px) {
    .container-second-sector-text {
        top: 16%;
        position: absolute
    }

    .btn-second-sector {
        font-size: 10px;
        padding-right: 11px;
        padding-left: 10px;
        padding-top: 4px;
        padding-bottom: 4px
    }

    .title-second-sector {
        font-size: 1rem
    }

    .first-span-second-sector {
        font-size: 28px
    }

    .content-button-second-sector {
        position: absolute;
        top: 68px
    }

    .title-third-sector {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 3%
    }

    .title-form-third-sector {
        font-size: 13px
    }

    .btn-third-sector {
        font-size: 13px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 5px
    }

    .container-third-sector-text {
        top: 12%;
        left: 18%;
        position: absolute;
        width: 74%
    }
}

@media (max-width:625px) {
    .img-four-sector {
        height: 32%;
        left: 9%;
        top: 20%
    }
}

@media (max-width:575px) {
    .container-first-sector-text {
        margin-top: 3%
    }

    .title-first-sector {
        font-size: 1.7rem
    }

    .text-first-sector {
        font-size: 19px
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .second-span-first-sector {
        font-size: 34px
    }

    .btn-first-sector {
        font-size: 18px
    }

    .title-second-sector {
        font-size: 1rem;
        text-align: center;
        margin-top: -18px
    }

    .container-second-sector-text {
        left: 0;
        position: relative
    }

    .content-button-second-sector {
        position: relative;
        top: 0
    }

    .title-third-sector {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 3%
    }

    .title-form-third-sector {
        font-size: 13px
    }

    .btn-third-sector {
        font-size: 13px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 5px
    }

    .container-third-sector-text {
        top: 11%;
        left: 18%;
        position: absolute;
        width: 75%
    }

    .img-four-sector {
        height: 40%;
        left: 10%;
        top: 30%
    }

    .margin-md {
        margin-top: 10%
    }

    .termAndConditions {
        font-size: 10px;
        font-style: italic;
        margin-bottom: 0;
        margin-top: 0
    }
}

@media (max-width:545px) {
    .title-third-sector {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 2%
    }

    .title-form-third-sector {
        font-size: 11px
    }

    .btn-third-sector {
        font-size: 11px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 5px
    }

    .container-third-sector-text {
        top: 14%;
        left: 22%;
        position: absolute;
        width: 65%
    }

    .input-form-third-sector {
        border-radius: 12px;
        height: 29px
    }
}

@media (max-width:485px) {
    .title-first-sector {
        font-size: 1.3rem
    }

    .text-first-sector {
        font-size: 16px
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .second-span-first-sector {
        font-size: 25px
    }

    .btn-first-sector {
        font-size: 14px
    }

    .container-third-sector-text {
        position: relative;
        top: 0;
        width: 94%;
        left: 4%;
        padding-top: 3%;
        padding-bottom: 3%
    }

    .img-fondo {
        background-color: #fdc214
    }

    .img-bacgraund {
        display: none
    }

    .margin-md {
        margin-top: 10%
    }
}

@media (max-width:460px) {
    .img-four-sector {
        height: 40%;
        left: 10%;
        top: 25%
    }
}

@media (max-width:435px) {
    .title-first-sector {
        font-size: 1.3rem
    }

    .text-first-sector {
        font-size: 16px
    }

    .first-span-first-sector {
        font-weight: 500
    }

    .second-span-first-sector {
        font-size: 25px
    }

    .btn-first-sector {
        font-size: 14px
    }
}

@media (max-width:410px) {
    .img-four-sector {
        height: 36%
    }
}

@media (max-width:330px) {
    .img-four-sector {
        height: 33%;
        left: 8%
    }
}

.rotate-container-first {
    position: relative
}

.rotate-container-first .card-back,
.rotate-container-first .card-front {
    width: 100%;
    height: 100%;
    -webkit-transform: perspective(600px) rotateY(0);
    transform: perspective(600px) rotateY(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s
}

.rotate-container-first .card-back {
    -webkit-transform: perspective(1600px) rotateY(180deg);
    transform: perspective(1600px) rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.rotate-container-first .rotate-card-front {
    -webkit-transform: perspective(1600px) rotateY(-180deg);
    transform: perspective(1600px) rotateY(-180deg)
}

.rotate-container-first .rotate-card-back {
    -webkit-transform: perspective(1600px) rotateY(0);
    transform: perspective(1600px) rotateY(0)
}

.rotate-container-second {
    position: relative
}

.rotate-container-second .card-back-second,
.rotate-container-second .card-front-second {
    width: 100%;
    height: 100%;
    -webkit-transform: perspective(600px) rotateY(0);
    transform: perspective(600px) rotateY(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s
}

.rotate-container-second .card-back-second {
    -webkit-transform: perspective(1600px) rotateY(180deg);
    transform: perspective(1600px) rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.rotate-container-second .rotate-card-front-second {
    -webkit-transform: perspective(1600px) rotateY(-180deg);
    transform: perspective(1600px) rotateY(-180deg)
}

.rotate-container-second .rotate-card-back-second {
    -webkit-transform: perspective(1600px) rotateY(0);
    transform: perspective(1600px) rotateY(0)
}

.rotate-container-third {
    position: relative
}

.rotate-container-third .card-back-third,
.rotate-container-third .card-front-third {
    width: 100%;
    height: 100%;
    -webkit-transform: perspective(600px) rotateY(0);
    transform: perspective(600px) rotateY(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s
}

.rotate-container-third .card-back-third {
    -webkit-transform: perspective(1600px) rotateY(180deg);
    transform: perspective(1600px) rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.rotate-container-third .rotate-card-front-third {
    -webkit-transform: perspective(1600px) rotateY(-180deg);
    transform: perspective(1600px) rotateY(-180deg)
}

.rotate-container-third .rotate-card-back-third {
    -webkit-transform: perspective(1600px) rotateY(0);
    transform: perspective(1600px) rotateY(0)
}

.rotate-container-four {
    position: relative
}

.rotate-container-four .card-back-four,
.rotate-container-four .card-front-four {
    width: 100%;
    height: 100%;
    -webkit-transform: perspective(600px) rotateY(0);
    transform: perspective(600px) rotateY(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s
}

.rotate-container-four .card-back-four {
    -webkit-transform: perspective(1600px) rotateY(180deg);
    transform: perspective(1600px) rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.rotate-container-four .rotate-card-front-four {
    -webkit-transform: perspective(1600px) rotateY(-180deg);
    transform: perspective(1600px) rotateY(-180deg)
}

.rotate-container-four .rotate-card-back-four {
    -webkit-transform: perspective(1600px) rotateY(0);
    transform: perspective(1600px) rotateY(0)
}

.card .avatar {
    max-width: 6em;
    max-height: 6em;
    margin-top: -4em;
    margin-bottom: 1em;
    border: 4px solid #fff;
    border-radius: 50%;
    background: radial-gradient(#e3e3e3, #329a7c, #109381)
}

.card .btn {
    margin-bottom: 1em;
    cursor: pointer
}

.card .social-links li {
    margin: .5em
}

.card .social-links a {
    font-size: 1.5em
}

.hover:hover {
    color: #0a64c5
}

.position-button-card-rever {
    position: absolute;
    top: 92%;
    left: 68%
}

.font-size-card-rever {
    font-size: 14px;
    text-align: left
}

.button-return {
    position: absolute;
    top: 85%;
    left: 90%
}

.btn-card-reverse {
    background-color: #fdc214;
    border-color: #fdc214;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 12px;
    border-radius: 14px
}

.bd-example {
    height: 73%
}

@media (min-width:2399px) {
    .font-size-card-rever {
        font-size: 16px
    }
}

@media (min-width:1799px) {
    .font-size-card-rever {
        font-size: 15px
    }
}

@media (max-width:1511px) {
    .bd-example {
        height: 66%
    }
}

@media (max-width:1438px) {
    .font-size-card-rever {
        font-size: 12px;
        text-align: left
    }

    .btn-card-reverse {
        font-size: 17px
    }

    .position-button-card-rever {
        position: absolute;
        top: 92%;
        left: 66%
    }
}

@media (max-width:1243px) {
    .font-size-card-rever {
        font-size: 12px;
        text-align: left
    }

    .btn-card-reverse {
        font-size: 14px
    }

    .position-button-card-rever {
        position: absolute;
        top: 92%;
        left: 66%
    }

    .card-body-reset {
        padding: 1rem !important
    }
}

@media (max-width:1200px) {
    .position-button-card-rever {
        position: absolute;
        top: 92%;
        left: 68%
    }

    .font-size-card-rever {
        font-size: 14px;
        text-align: left
    }

    .btn-card-reverse {
        background-color: #fdc214;
        border-color: #fdc214;
        font-size: 18px;
        color: #000;
        font-weight: 700;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 12px;
        border-radius: 14px
    }

    .card-body-reset {
        padding: 1.25rem !important
    }

    .bd-example {
        height: 68%
    }
}

@media (max-width:1029px) {
    .position-button-card-rever {
        position: absolute;
        top: 92%;
        left: 68%
    }

    .font-size-card-rever {
        font-size: 13px;
        text-align: left
    }

    .button-return {
        position: absolute;
        top: 76%;
        left: 87%
    }

    .btn-card-reverse {
        background-color: #fdc214;
        border-color: #fdc214;
        font-size: 15px;
        color: #000;
        font-weight: 700;
        padding-right: 22px;
        padding-left: 22px;
        padding-bottom: 8px;
        border-radius: 18px
    }

    .card-body-reset {
        padding: 1.25rem !important
    }
}

@media (max-width:712px) {
    .bd-example {
        height: 66%
    }
}

@media (max-width:633px) {
    .position-button-card-rever {
        position: absolute;
        top: 92%;
        left: 68%
    }

    .font-size-card-rever {
        font-size: 11px;
        text-align: left
    }

    .btn-card-reverse {
        background-color: #fdc214;
        border-color: #fdc214;
        font-size: 13px;
        color: #000;
        font-weight: 700;
        padding-right: 22px;
        padding-left: 22px;
        padding-bottom: 8px;
        border-radius: 18px
    }

    .card-body-reset {
        padding: 1rem !important
    }
}

@media (max-width:560px) {
    .font-size-card-rever {
        font-size: 17px
    }

    .btn-card-reverse {
        font-size: 20px
    }

    .card-body-reset {
        padding: 1.25rem !important
    }

    .button-return {
        position: absolute;
        top: 71%;
        left: 84%;
        font-size: 12px
    }
}

@media (max-width:440px) {
    .font-size-card-rever {
        font-size: 13px
    }

    .btn-card-reverse {
        font-size: 14px
    }

    .card-body-reset {
        padding: 1rem !important
    }
}

@media (max-width:440px) {
    .font-size-card-rever {
        font-size: 13px
    }

    .btn-card-reverse {
        font-size: 14px
    }

    .card-body-reset {
        padding: 1rem !important
    }
}

@media (max-width:400px) {
    .font-size-card-rever {
        font-size: 13px
    }

    .btn-card-reverse {
        font-size: 14px
    }

    .card-body-reset {
        padding: 1rem !important
    }

    .button-return {
        position: absolute;
        top: 71%;
        left: 84%;
        font-size: 9px
    }
}